{% set menuItems = [
    {icon: 'fa-trash', message: 'delete', path: delete.path, confirmAlertMessage: delete.message},
    {icon: 'fa-pencil-alt',message: 'document' in editPath or 'folder' in editPath ? 'rename' : 'edit',path: editPath},
    {icon: 'fa-info-circle',message: 'donneePersonnelle.information',path: detailPath},
] %}

{% if sendPath is defined %}
    {% set menuItems = menuItems|merge([
        { icon: 'fa-paper-plane', message: 'send', path: sendPath },
    ]) %}
{% endif %}

{% if movePath is defined %}
    {% set menuItems = menuItems|merge([
        {  icon: 'fa-folder-open', message: 'move', path : movePath},
    ]) %}
{% endif %}

{% if not app.user.isBeneficiaire %}
    {% set menuItems = menuItems|merge([
        { icon: 'fa-exclamation-triangle',message: 'switch_content_private',path : switchPrivate.path,confirmAlertMessage: switchPrivate.message},
    ]) %}
{% endif %}

<button class="btn {{ getUserButtonColor() }} text-white py-0"
        {{ stimulus_target('dropdown-menu', 'button') }}
        {{ stimulus_action('dropdown-menu', 'toggle') }}
>
    <i class="fas fa-ellipsis-h"></i>
</button>
<div class="position-relative d-none" {{ stimulus_target('dropdown-menu', 'menu') }}>
    <ul class="action-dropdown shadow border-1 position-absolute z-1 bg-white list-group font-size-1 mt-2 end-0">
        {% for menuItem in menuItems %}
            {{ include('v2/vault/components/_action_dropdown_item.html.twig', {item: menuItem}) }}
        {% endfor %}
    </ul>
</div>
