{% set menuItems = [
    {
        icon: 'trash',
        message: 'delete'|trans,
        path: delete.path,
        confirmAlertMessage: delete.message,
    },
    {
        icon: 'pencil-alt',
        message: 'document' in editPath or 'folder' in editPath ? 'rename'|trans : 'edit'|trans,
        path: editPath,
    },
    {
        icon: 'info-circle',
        message: 'donneePersonnelle.information'|trans,
        path: detailPath,
    },
] %}

{% if sendPath is defined %}
    {% set menuItems = menuItems|merge([
        {
            icon:'paper-plane',
            message: 'send'|trans,
            path: sendPath,
        },
    ]) %}
{% endif %}

{% if movePath is defined %}
    {% set menuItems = menuItems|merge([
        {
            icon: 'folder-open',
            message: 'move'|trans,
            path: movePath,
        },
    ]) %}
{% endif %}

{% if not app.user.isBeneficiaire and switchPrivate %}
    {% set menuItems = menuItems|merge([
        {
            icon: 'exclamation-triangle',
            message: 'switch_content_private'|trans,
            path: switchPrivate.path,
            confirmAlertMessage: switchPrivate.message,
            confirmButtonText: 'toggle'|trans,
        },
    ]) %}
{% endif %}

<button class="btn {{ getUserButtonColor() }} text-white py-0"
        {{ stimulus_target('dropdown-menu', 'button') }}
        {{ stimulus_action('dropdown-menu', 'toggle') }}
>
    <i class="fas fa-ellipsis-h"></i>
</button>
<div class="position-relative d-none" {{ stimulus_target('dropdown-menu', 'menu') }}>
    <ul class="action-dropdown shadow border-1 position-absolute z-1 bg-white list-group font-size-1 mt-2 end-0">
        {% for menuItem in menuItems %}
            {{ include('v2/vault/components/_action_dropdown_item.html.twig', {item: menuItem}) }}
        {% endfor %}
    </ul>
</div>
