<li class="list-group-item hover p-0 border-0 my-1 d-grid gap-2">
    <a href="{{ action.path }}" class="btn p-0 text-primary text-start ps-3"
            {% if action.confirmMessage is defined %}
                {{ stimulus_controller('alert', {
                    confirmButtonText: action.confirmButtonText,
                    cancelButtonText: 'cancel'|trans,
                    message: action.confirmMessage,
                    url: action.path,
                }) }}
                {{ stimulus_action('alert', 'confirm') }}
            {% endif %}>
        <i class="fas fa-{{ action.icon }} pe-2"></i>{{ action.text }}
    </a>
</li>
