{% extends 'v2/vault/standard_layout.html.twig' %}

{% block content %}
    <div class="container row mx-auto my-4">
        <div class="col-12 col-md-6 col-lg-5 mx-auto text-primary bg-white rounded py-2 shadow">
            <h4 class="font-size-1-3 text-center mt-1">
                <i class="fa fa-info-circle me-2" aria-hidden="true"></i>
                {{ 'donneePersonnelle.information'|trans }}
            </h4>
            <hr class="text-light-grey">
            <div class="row px-3">
                {% for label, value in information %}
                    <div class="col-5">{{ label|trans }} :</div>
                    <div class="col-7">{{ rawValue is defined ? value|raw : value }}</div>
                {% endfor %}
            </div>
            <div class="row mx-1 mt-2">
                {{ link(cancelPath, 'main.retour', 'grey') }}
                {{ link(
                    editPath,
                    isDocument is defined ? 'rename' : 'main.modifier',
                    'green',
                    'fa fa-pencil-alt'
                ) }}
            </div>
        </div>
    </div>
{% endblock %}
