{% extends 'base.html.twig' %}

{% block metaTitle %}
    {% if app.user.isBeneficiaire %}
        {{ 'user.firstVisit.beneficiaire.metaTitle'|trans }}
    {% elseif app.user.isMembre %}
        {{ 'user_firstVisit_membre_metaTitle'|trans }}
    {% endif %}
{% endblock metaTitle %}

{% block notifications %}{% endblock %}

{% block bodyCentered %}
    <div id="page-firstVisit">
        {% if app.user.isBeneficiaire %}
            {% include "user/user/beneficiary_new_guide.html.twig" %}
        {% elseif app.user.isMembre %}
            <h1 class="center h1 text-primary">
                {{ 'member_new_guide_title'|trans|raw }}
            </h1>
            <br/>

            <div id="firstVisit-image" class="mt-5">
                <img src="{{ asset('build/images/home/background.jpg') }}" alt="">
            </div>
            <div class="text-primary font-size-1" id="firstVisit-text">
                <p class="smallMargin">{{ 'user_firstVisit_membre_intro'|trans }}</p>
                <p class="smallMargin">{{ 'user_firstVisit_membre_intro_more'|trans }}</p>
                <p class="smallMargin">{{ 'user_firstVisit_rgpd'|trans({'%mailRGPD%' : 'reconnect_rgpd_mail'|trans, '%phoneNumber%': 'reconnect_phone_number'|trans})|raw }}</p>
                <p class="smallMargin">{{ 'user_firstVisit_rgpd_more'|trans({'%linkRGPD%' : 'https://www.reconnect.fr/annexe/confidentialite-cs'})|raw }}</p>
                <p class="smallMargin">{{ 'user_firstVisit_membre_outro'|trans }}</p>
            </div>
            <div class="clearFloat">&nbsp;</div>
            <div class="bigPadding center"><a href="{{ path('re_user_cgs') }}"
                                              class="btn btn-blue font-size-1">{{ 'main.continuer'|trans }}</a></div>
        {% endif %}
    </div>
{% endblock bodyCentered %}
