{% extends 'user/gestionUser_base.html.twig' %}

{% form_theme form "form/tableForm.html.twig" _self %}
{% form_theme formChangePassword "form/tableForm.html.twig" _self %}

{% block metaTitle %}{% trans %}user.parametres.metaTitle{% endtrans %}{% endblock metaTitle %}  
{% block addUserTitle %}{{ 'user_parameters_title'|trans|raw }}{% endblock addUserTitle %}
{% block addUserSubtitle %}{{ 'user_parameters_subtitle'|trans({'%subject%' : user.prenom ~ ' ' ~ user.nom}) }}{% endblock addUserSubtitle %}
{% block notifications %}{% endblock %}

{% block _re_form_beneficiaireParametres_user_row %}
    <tr>
        <td colspan="2">
            {% if errors|length > 0 %}{{- form_errors(form) -}}<br/>{% endif %}
            {{- form_widget(form) -}}
        </td>
    </tr>
{% endblock _re_form_beneficiaireParametres_user_row %}

{% block addUserContent %}
    <div style="max-width: 670px; margin: auto;" class="text-primary">
        {{ form(form, {"attr" : {"class" : "reForm tableForm form-100 table-100 font-size-1", "novalidate" : "novalidate"}}) }}
    </div>
    <br/>
    <br/>
    <div class="bold uppercase text-primary font-size-1-3">
        <i class="fas fa-lock "></i>
        <span>
            {% trans %}user.parametres.changerMotDePasse{% endtrans %}
        </span>
        <hr class="bg-primary smallMargin" style="height: 1px;">
    </div>
    <br/>
    <div style="max-width: 440px; margin: auto;">
        {{ form(formChangePassword, {"attr" : {"class" : "reForm tableForm form-100 table-100 font-size-1", "novalidate" : "novalidate"}}) }}
    </div>
    <br/>

    {% if user.isBeneficiaire %}
        <div class="center">
            <a href="{{ path('re_user_supprimerCompte', {'id' : user.id }) }}"
               class="font-size-1 vault-green">{% trans %}delete_your_account{% endtrans %}</a><br/><br/><br/>
        </div>
    {% endif %}
{% endblock addUserContent %}

{% block styles %}
    {{ parent() }}
    {{ encore_entry_link_tags('parameter') }}
    <style>
        .btnPickPlImage2 {
            line-height: 142px;
            margin: 0 0 30px;
        }
    </style>
{% endblock styles %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('parameter') }}
{% endblock javascripts %}

