<tr class="text-primary text-center draggable position-relative"
    data-id="{{ document.id }}"
    data-type="document"
    {{ stimulus_controller('ajax-toggle', {'url': path('document_toggle_visibility', {'id': document.id}) })|stimulus_controller('modal') }}
>
    <td class="bg-white borderless text-start align-middle  personal-data-card position-relative {{ document.bPrive ? 'private' : 'shared' }}"
        {{ stimulus_target('ajax-toggle', 'card') }}
        data-toggle-classes="shared private"
    >
        <button class="btn p-0" {{ stimulus_action('modal', 'open') }}>
            {{ include('v2/vault/document/_thumbnail.html.twig', {'document': document}) }}
        </button>
    </td>
    <td class="bg-white borderless text-start align-middle w-100">
        <button class="btn text-decoration-none text-start text-primary d-block w-100" {{ stimulus_action('modal', 'open') }}>
            <span class="font-size-1">{{ document.nom }}</span>
            <br>
            <span class="text-light-grey">{{ document.createdAt|date('d/m/Y') }}</span>
        </button>
        {{ include('v2/vault/document/modal.html.twig') }}
    </td>
    <td class="bg-white borderless align-middle">
        {{ include('v2/vault/components/_download_folder_document_button.html.twig', {
            'path': path('document_download', {'id': document.id}),
        }) }}
    </td>
    <td class="bg-white borderless w-25 align-middle">
        {% if app.user.isBeneficiaire %}
            {% if document.canToggleVisibility %}
                {{ include('v2/vault/components/_toggle_visibility_button.html.twig', {
                    'url': path('document_toggle_visibility', {'id': document.id}),
                    'private': document.bPrive,
                }) }}
            {% else %}
                <i class="fas fa-lock text-primary me-2" {{ stimulus_controller('tooltip', {title: 'private'|trans}) }}></i>
            {% endif %}
        {% endif %}
    </td>
    <td class="bg-white borderless text-end pe-3 pe-sm-4 align-middle" {{ stimulus_controller('dropdown-menu') }}>
        {{ include('v2/vault/components/_action_dropdown.html.twig', {
            'editPath': path('document_rename', {'id': document.id}),
            'detailPath': path('document_detail', {'id': document.id}),
            'sendPath': path('document_share', {'id': document.id}),
            'movePath': path('document_tree_view_move', {'id': document.id}),
            'delete': {
                'path': path('document_delete', {'id': document.id}),
                'message': 'modal_message_document_deletev2'|trans({'%name%': document.nom}),
            },
            'switchPrivate': document.dossier
            ? null
            : {
                'path': path('document_toggle_visibility', {'id': document.id}),
                'message': 'switch_content_private_confirm'|trans,
            },
        }) }}
    </td>
</tr>
