<tr class="text-primary text-center draggable" data-id="{{ document.id }}" data-type="document">
    <td class="bg-white borderless text-start align-middle">
        {{ include('v2/vault/document/_thumbnail.html.twig', {'document': document}) }}
    </td>
    <td class="bg-white borderless text-start align-middle w-100">
        <a href="{{ document.presignedUrl }}" target="_blank" class="text-decoration-none text-primary d-block">
            <span class="font-size-1">{{ document.nom }}</span>
            <br>
            <span class="text-light-grey">{{ document.createdAt|date('d/m/Y') }}</span>
        </a>
    </td>
    <td class="bg-white borderless align-middle">
        {{ include('v2/vault/components/_download_folder_document_button.html.twig', {
            'path': path('document_download', {'id': document.id}),
        }) }}
    </td>
    {% if app.user.isBeneficiaire %}
        <td class="bg-white borderless w-25 align-middle">
            {{ include('v2/vault/components/_toggle_visibility_button.html.twig', {
                'url': path('document_toggle_visibility', {'id': document.id}),
                'private': document.bPrive,
            }) }}
        </td>
    {% endif %}
    <td class="bg-white borderless text-end pe-3 pe-sm-4 align-middle" {{ stimulus_controller('dropdown-menu') }}>
        {{ include('v2/vault/components/_action_dropdown.html.twig', {
            'editPath': path('document_rename', {'id': document.id}),
            'detailPath': path('document_detail', {'id': document.id}),
            'sendPath': path('document_share', {'id': document.id}),
            'movePath': path('document_tree_view_move', {'id': document.id}),
            'delete': {
                'path': path('document_delete', {'id': document.id}),
                'message': 'modal_message_document_deletev2'|trans({'%name%': document.nom}),
            },
            'switchPrivate': {
                'path': path('document_toggle_visibility', {'id': document.id}),
                'message': 'switch_content_private_confirm'|trans,
            },
        }) }}
    </td>
</tr>
