{% extends '/v2/vault/list_container_layout.html.twig' %}

{% block metaTitle %}{{ 'document.metaTitle'|trans }}{% endblock metaTitle %}

{% block list %}
    <div class="list-container d-flex flex-column justify-content-center">
        {{ foldersAndDocuments is not empty
        ? include('v2/vault/document/_list.html.twig', {foldersAndDocuments})
        : include('v2/vault/components/_empty_list_content.html.twig', {'message': 'document.aucunFichier'|trans})}}
    </div>
{% endblock %}

{% block searchform %}
    <div>
        {{ include('v2/vault/components/_search_input.html.twig', {
            'routeName': 'document_search',
            'beneficiaryId': beneficiary.id,
        }) }}
    </div>
{% endblock %}

{% block actionButtons %}
    {% if currentFolder is defined %}
        <div class="d-inline text-primary text-start me-1">
            <i class="fa fa-fw fa-folder-open"></i>
            <span class="d-none d-md-inline">{{ 'folder_content'|trans }} {{ currentFolder.nom }}</span>
            <a class="btn" href="{{ currentFolder.dossierParent
                ? path('folder', {'id': currentFolder.dossierParent.id})
                : path('document_list', {'id': beneficiary.id})
            }}"
            >
                <i class="fas fa-undo-alt pointer text-primary"></i>
            </a>
        </div>
    {% endif %}
    <button class="btn btn-green text-white"
            {{ stimulus_controller('upload', {
                'locale': app.session.get("_locale") ?: 'fr',
                'url': path('document_upload', {'id': beneficiary.id, 'folder': currentFolder.id ?? ''})
            }) }}
    >
        <i class="fas fa-plus-circle me-md-1"></i>
        <span class="d-none d-sm-inline">{{ 'document.deposerDesFichiers'|trans }}</span>
    </button>
    <a href="{{ currentFolder is defined
        ? path('folder_create_subfolder', {'id': currentFolder.id})
        : path('folder_create', {'id': beneficiary.id})
    }}"
       class="btn btn-green text-white ms-2">
        <i class="fas fa-folder-plus me-md-1"></i>
        <span class="d-none d-sm-inline">{{ 'document.creerUnDossier'|trans }}</span>
    </a>
{% endblock %}

{% block notifications %}
    {{ render(controller('App\\ControllerV2\\MemberBeneficiaryController::firstMemberVisitNotification', {'id': beneficiary.id})) }}
    {{ render(controller('App\\ControllerV2\\RelayController::relayNotification', {'id': beneficiary.id})) }}
{% endblock %}
