{% extends 'v2/vault/standard_layout.html.twig' %}

{% if document.extension in ['doc', 'docx', 'txt', 'odt'] %}
    {% set url = asset('build/images/icons/word.png') %}
{% elseif document.extension in ['xls', 'xlsx', 'csv'] %}
    {% set url = asset('build/images/icons/excel.PNG') %}
{% endif %}

{% block metas %}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
    <div class="container row mx-auto my-4">
        <div class="col-12 col-lg-4 offset-lg-4 text-primary bg-white rounded py-2 shadow">
            <h4 class="font-size-1-3 text-center mt-1">
                <i class="fa fa-pencil-alt me-2" aria-hidden="true"></i>
                {{ 'rename'|trans }}
            </h4>
            <hr class="text-light-grey">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="d-flex justify-content-center my-2">
                <div class="d-flex justify-content-center align-items-center rounded">
                        <img class="img-fluid bg-white rounded shadow-sm p-1" src="{{ document.thumbnailPresignedUrl ?? url ?? '' }}"
                             alt="{{ document.nom }}"
                        />
                </div>
            </div>
            <div class="row mx-1 mt-2">
                {{ link(document.dossier
                    ? path('folder', {'id': document.dossier.id})
                    : path('document_list', {'id': document.beneficiaire.id}),
                    'main.retour',
                    'grey',
                ) }}
                {{ button('submit', 'confirm', 'green') }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
