<tr class="text-primary text-center draggable droppable"
        {{ stimulus_target('drag_n_drop', 'folder') }} data-id="{{ folder.id }}"
>
    <td class="bg-white borderless text-start align-middle">
        <a href="{{ path('folder', {'id': folder.id}) }}" class="text-decoration-none text-primary d-block">
            <i class="fa fa-fw fa-folder-open fa-3x"></i>
        </a>
    </td>
    <td class="bg-white borderless text-start align-middle w-100">
        <a href="{{ path('folder', {'id': folder.id}) }}" class="text-decoration-none text-primary d-block">
            <span class="font-size-1">{{ folder.nom }}</span>
            <br>
            <span class="text-light-grey">{{ folder.createdAt|date('d/m/Y') }}</span>
        </a>
    </td>
    <td class="bg-white borderless align-middle">
        {% if folder.documents is not empty %}
            <a href="{{ path('folder_download', {'id': folder.id}) }}">
                <i class="fas fa-file-download text-green"
                   aria-hidden="true" title="{{ 'document.telecharger'|trans }}">

                </i>
            </a>
        {% else %}
            <i class="fas fa-file-download text-grey"
               aria-hidden="true" title="{{ 'dossier.vide'|trans }}">
            </i>
        {% endif %}
    </td>
    <td class="bg-white borderless w-25 align-middle">
        {{ include('v2/app/common/toggle_visibility_button.html.twig', {
            'url': path('folder_toggle_visibility', {'id': folder.id}),
            'item': folder,
        }) }}
    </td>
    <td class="bg-white borderless text-end pe-3 pe-sm-4 align-middle" {{ stimulus_controller('dropdown-menu') }}>
        <button class="btn btn-green text-white py-0"
                data-dropdown-menu-target="button"
                data-action="click->dropdown-menu#toggle"
        >
            <i class="fas fa-ellipsis-h"></i>
        </button>
        {% set deleteMessage = folder.hasDocuments ? 'folder_contains_documents_alert' : 'modal_message_folder_deletev2'%}
        {{ include('v2/app/common/action-dropdown.html.twig', {
            'editPath': path('folder_rename', {'id': folder.id}),
            'detailPath': path('folder_detail', {'id': folder.id}),
            'movePath': path('folder_tree_view_move', {'id': folder.id}),
            'delete': {
                'path': path('folder_delete', {'id': folder.id}),
                'message': deleteMessage|trans({'%name%': folder.nom}),
            },
        }) }}
    </td>
</tr>
