{% extends 'v2/user_affiliation/beneficiary/relays_form.html.twig' %}

{% block frame %}
    <turbo-frame id="force-affiliation-form">
        {{ form_start(secretQuestionForm) }}
       <div class="border-1 border rounded align-items-center d-flex flex-column p-2">
           <span class="bold">{{ 'secret_question'|trans }}</span>
           <span>{{ beneficiary.questionSecrete }}</span>
           <span class="form-group has-error text-center">{{ form_errors(secretQuestionForm.reponseSecrete) }}</span>
           <div class="d-flex align-items-center col-12">
                <span class="m-2 w-75">{{ form_widget(secretQuestionForm.reponseSecrete) }}</span>
                <span>{{ include('v2/common/_button_with_loader.html.twig') }}</span>
            </div>
       </div>
        {{ form_end(secretQuestionForm) }}
    </turbo-frame>
 {% endblock %}
