{% extends 'v2/user_affiliation/beneficiary/affiliate_beneficiary_relays.html.twig' %}
{% form_theme form 'v2/form_theme/create_user_form_theme.html.twig' %}

{% block content %}
    <div>
        {{ form_start(form) }}
        <h4 class="text-center mt-4">
            <i class="fas fa-user me-1"></i>
            {{ beneficiary.user.username }}
        </h4>
        <div class="row my-4">
            <div class="text-center mx-auto mt-4 col-12 col-md-6">
                <span class="font-size-1-2 mt-3">{{ 'answer_secret_question_relay_acception_1'|trans }} {{ beneficiary.questionSecrete ? 'answer_secret_question_relay_acception_2'|trans : '' }}</span>
                <br>
                <div class="row {{ beneficiary.questionSecrete ? '' : 'd-none' }}" {{ stimulus_controller('toggle_display') }} >
                    <div class="col">
                        <button type="button" class="btn btn-blue text-white rounded-pill shadow-sm mt-3"
                                {{ stimulus_action('toggle_display', 'toggle') }}
                        >
                            {{ 'answer_secret_question'|trans }}
                        </button>
                    </div>
                    <div
                            class="col-6 my-3 {{ form_errors(form.secretAnswer)|length > 0 ? '' : 'd-none' }}"
                            {{ stimulus_target('toggle_display', 'target') }}
                    >
                        <span class="bold">{{ form_label(form.secretAnswer) }}</span>
                        {{ form_widget(form.secretAnswer) }}
                        {{ form_errors(form.secretAnswer) }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h4 class="text-center">{{ 'relays'|trans }} :</h4>
                {{ form_row(form.relays) }}
            </div>
            <div class="text-end">
                <button type="submit" data-turbo="false" class="btn btn-blue text-white text-end mt-2">
                    {{ 'submit'|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
