<div class=" {{ beneficiary.questionSecrete ? '' : 'd-none' }}" {{ stimulus_controller('toggle_display') }} >
    {{ form_start(secretQuestionForm) }}
    <div
            class="{{ form_errors(secretQuestionForm.reponseSecrete)|length > 0 ? '' : 'd-none' }} m-4 border-1 border rounded align-items-center p-2"
            {{ stimulus_target('toggle_display', 'target') }}
    >
        <span class="w-75 m-2">{{ form_widget(secretQuestionForm) }}</span>
        {{ include('v2/common/_button_with_loader.html.twig') }}
    </div>
    {{ form_end(secretQuestionForm) }}
    <div {{ stimulus_target('toggle_display', 'target') }}>
        <button type="button" class="btn btn-blue text-white rounded-pill shadow-sm mt-3"
                {{ stimulus_action('toggle_display', 'toggle') }}
        >
            {{ 'answer_secret_question'|trans }}
        </button>
    </div>
</div>