{% extends 'v2/management_layout.html.twig' %}
{% form_theme form 'v2/form_theme/create_user_form_theme.html.twig' %}

{% block metaTitle %}{{ 'choose_beneficiary'|trans }}{% endblock %}

{% block subTitle %}{{ 'search_existing_beneficiary'|trans|upper }}{% endblock %}
{% block subTitleIconName %}user-plus{% endblock %}

{% block content %}
    <div class="row mt-3 mt-md-5 mx-auto">
        <div class="col-md-4 pe-md-5">
            {{ form_start(form, {
                attr: {class: 'display-required-labels'}
            }) }}
            {{ form_widget(form) }}
            <button type="submit" data-turbo="false" class="btn btn-blue text-white mt-3 w-100">
                {{ 'search'|trans }}
            </button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-8 text-center ps-md-5 mt-3 mt-md-0">
            {{ include('v2/user_affiliation/beneficiary/_search_result.html.twig', {beneficiaries}) }}
            {{ knp_pagination_render(beneficiaries, null, {
                'firstname' : search.firstname,
                'lastname' : search.lastname,
                'birthdate' : search.birthDate ? search.birthDate|date('Y-m-d') : null,
            }) }}
        </div>
    </div>
{% endblock %}
