{% extends 'v2/pro_standard_layout.html.twig' %}

{% block title %}
    {{ 'choose_beneficiary_title_part_1'|trans }}
    <span class="text-blue">
        {{ 'choose_beneficiary_title_part_2'|trans }}
    </span>
{% endblock %}
{% block subTitle %}{{ 'choose_beneficiary_centers'|trans|upper }}{% endblock %}
{% block backButton %}
    <a href="{{ path('affiliate_beneficiary_search') }}"
       class="btn btn-blue text-white">
        {{ 'back'|trans }}
    </a>
{% endblock %}

{% block content %}{% endblock %}
