{% extends 'v2/management_layout.html.twig' %}
{% block metaTitle %}{{ 'choose_beneficiary'|trans }}{% endblock %}
{% block subTitle %}{{ 'choose_beneficiary_centers'|trans|upper }}{% endblock %}
{% block subTitleIcon %}{% endblock %}
{% form_theme secretQuestionForm 'v2/form_theme/create_user_form_theme.html.twig' %}

{% set hasSecretQuestion = beneficiary.questionSecrete %}
{% set hasTelephone = beneficiary.user.telephone %}

{% block content %}
    <div>
        <h4 class="text-center mt-4">
            <i class="fas fa-user me-1"></i>
            {{ beneficiary.user.username }}
        </h4>
        <div class="row my-4">
            <div class="text-center mx-auto mt-4 col-12 col-md-6 font-size-1-2">
                <span class="mt-3">{{ 'beneficiary_relay_affiliation_intro'|trans }} </span>
                {% if hasSecretQuestion or hasTelephone %}
                    <span>{{ 'beneficiary_relay_affiliation_options'|trans }} </span>
                    {% if hasSecretQuestion %}<li class="my-1">{{ 'beneficiary_relay_affiliation_question'|trans }}</li>{% endif %}
                    {% if hasTelephone %}<li class="my-1">{{ 'beneficiary_relay_affiliation_sms'|trans }}</li>{% endif %}
                    <span>{{ 'beneficiary_relay_affiliation_end'|trans }} </span>
                {% endif %}
                <br>
                {{ include('v2/user_affiliation/beneficiary/_relays_form_secret_question.html.twig', { beneficiary, secretQuestionForm }) }}
                {{ include('v2/user_affiliation/beneficiary/_relays_form_sms_code.html.twig', { beneficiary, smsCodeForm }) }}
            </div>
            <div class="col-12 col-md-6 mb-4">
                <h4 class="text-center">{{ 'relays'|trans }} :</h4>
                {{ include('v2/user_creation/components/_relays_checkboxes.html.twig', {user: beneficiary.user}) }}
            </div>
            {{ include('v2/common/_button_row.html.twig', {href: path('list_beneficiaries')}) }}
        </div>
    </div>
{% endblock %}
