{% extends 'v2/management_layout.html.twig' %}
{% block metaTitle %}{{ 'choose_beneficiary'|trans }}{% endblock %}
{% block subTitle %}{{ 'choose_beneficiary_centers'|trans|upper }}{% endblock %}
{% block subTitleIconName %}user-plus{% endblock %}

{% set hasSecretQuestion = beneficiary.questionSecrete %}
{% set hasTelephone = beneficiary.user.telephone %}
{% set hasSisiaoNumber = beneficiary.rosalieExternalLink or beneficiary.siSiaoNumber %}

{% block content %}
    <div>
        <h4 class="text-center mt-4">
            <i class="fas fa-user me-1"></i>
            {{ beneficiary.user.username }}
            <br>
            {% if app.user.usesRosalie and hasSisiaoNumber %}
                <span class="text-grey">
                    {{ 'si_siao_number'|trans }} : {{ beneficiary.rosalieExternalLink.distantId ?? beneficiary.siSiaoNumber }}
                </span>
            {% endif %}
        </h4>
        <div class="row my-4">
            <div class="col-12 col-md-5 mb-4">
                <h4 class="text-center">{{ 'relays'|trans }} :</h4>
                {{ include('v2/user_creation/components/_relays_checkboxes.html.twig', {user: beneficiary.user}) }}
            </div>
            <div class="d-flex flex-column mx-auto mt-3 col-12 col-md-6 font-size-1-2">
                <div>
                    <span>{{ 'beneficiary_relay_affiliation_intro'|trans }}</span>
                    {% if hasSecretQuestion or hasTelephone %}
                        <span>{{'beneficiary_relay_affiliation_options'|trans }}</span>
                        <ul class="mx-auto pt-2">
                            {% if hasSecretQuestion %}<li>{{ 'beneficiary_relay_affiliation_question'|trans }}</li>{% endif %}
                            {% if hasTelephone %}<li>{{ 'beneficiary_relay_affiliation_sms'|trans }}</li>{% endif %}
                        </ul>
                        <span>{{ 'beneficiary_relay_affiliation_end'|trans }}</span>
                    {% endif %}
                </div>
                <br>
                {% block frame %}
                    <turbo-frame id="force-affiliation-form" class="text-center mt-3">
                        {% if hasSecretQuestion %}
                            <a class="btn btn-blue text-white shadow-sm"
                               href="{{ path('affiliate_beneficiary_relays_secret_question', {id: beneficiary.id}) }}"
                            >
                                {{ 'answer_secret_question'|trans }}
                            </a>
                        {% endif %}
                        {% if hasTelephone %}
                            <a class="btn btn-blue text-white shadow-sm"
                               href="{{ path('affiliate_beneficiary_relays_sms_code', {id: beneficiary.id}) }}"
                            >
                                {{ 'send_sms_code'|trans }}
                            </a>
                        {% endif %}
                    </turbo-frame>
                {% endblock %}
            </div>
            <div class="row mt-4 pt-2">
                <div class="col-12 d-flex justify-content-center" style="font-size: large">
                    {{ include('v2/user_creation/beneficiary/_rosalie_row.html.twig', {beneficiary}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-end">
                    {{ include('v2/common/_button_row.html.twig', {href: path('affiliate_beneficiary_finish', {id: beneficiary.id}), text: 'finish'|trans }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
