{% extends 'v2/management_layout.html.twig' %}
{% block metaTitle %}{{ 'choose_beneficiary'|trans }}{% endblock %}
{% block subTitle %}{{ 'choose_beneficiary_centers'|trans|upper }}{% endblock %}
{% block subTitleIconName %}user-plus{% endblock %}

{% set hasSecretQuestion = beneficiary.questionSecrete %}
{% set hasTelephone = beneficiary.user.telephone %}
{% set hasSisiaoNumber = beneficiary.rosalieExternalLink or beneficiary.siSiaoNumber %}

{% block content %}
    <div>
        <h4 class="text-center mt-4">
            <i class="fas fa-user me-1"></i>
            {{ beneficiary.user.username }}
            <br>
            {% if app.user.usesRosalie and hasSisiaoNumber %}
                <span class="text-grey">
                    {{ 'si_siao_number'|trans }} : {{ beneficiary.rosalieExternalLink.distantId ?? beneficiary.siSiaoNumber }}
                    {% if not beneficiary.hasRosalieExternalLink %}
                        <a class="px-1" href="{{ path('add_si_siao_number', {id: beneficiary.id}) }}"><i class="fas fa-pencil fa-xs text-primary"></i></a>
                    {% endif %}
                </span>
            {% endif %}
        </h4>
        <div class="row my-4">
            <div class="col-12 col-md-5 mb-4">
                {{ include('v2/user_affiliation/beneficiary/_relays_card.html.twig', {title: 'beneficiary_relay_choice'|trans , user: beneficiary.user}) }}
            </div>
            <div class="d-flex flex-column mx-auto col-12 col-md-6 font-size-1-2">
                    <div class="pb-2">{{ 'beneficiary_relay_affiliation_intro'|trans }}</div>
                    {% if hasSecretQuestion or hasTelephone %}
                        <div class="py-1">{{'beneficiary_relay_affiliation_options'|trans }}</div>
                    {% endif %}
                <br>
                {% block frame %}
                    <turbo-frame id="force-affiliation-form" class="mt-2">
                        {% if hasSecretQuestion %}
                            <a class="btn btn-blue text-white shadow-sm my-1"
                               href="{{ path('affiliate_beneficiary_relays_secret_question', {id: beneficiary.id}) }}"
                            >
                                {{ 'answer_secret_question'|trans }}
                            </a>
                        {% endif %}
                        {% if hasTelephone %}
                            <a class="btn btn-blue text-white shadow-sm my-1"
                               href="{{ path('affiliate_beneficiary_relays_sms_code', {id: beneficiary.id}) }}"
                            >
                                {{ 'send_sms_code'|trans }}
                            </a>
                        {% endif %}
                    </turbo-frame>
                {% endblock %}
            </div>
            <div class="row mt-4 pt-2">
                <div class="col-12 d-flex justify-content-center" style="font-size: large">
                    {{ include('v2/user_creation/beneficiary/_rosalie_row.html.twig', {beneficiary}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-end">
                    {{ include('v2/common/_button_row.html.twig', {href: path('affiliate_beneficiary_finish', {id: beneficiary.id}), text: 'finish'|trans }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
