{% set text = text is defined ? text : 'submit'|trans %}
{% set color = color is defined ? color : 'primary' %}
{% if href is defined %}
    <a
            {{ stimulus_controller('loader') }}
            {{ stimulus_action('loader', 'load') }}
            {{ stimulus_target('loader', 'button') }}
            class="btn btn-{{ color }} text-right text-white"
            href="{{ href }}"
            data-turbo="false"
    >
        {{ include('v2/common/_button_with_loader_content.html.twig', ) }}
    </a>
{% else %}
    <button
            {{ stimulus_controller('loader') }}
            {{ stimulus_action('loader', 'load') }}
            {{ stimulus_target('loader', 'button') }}
            type="submit" class="btn btn-{{ color }} text-right text-white"
            data-turbo="false"
    >
        {{ include('v2/common/_button_with_loader_content.html.twig', ) }}
    </button>
{% endif %}
