<button
        {{ stimulus_controller('loader') }}
        {{ stimulus_action('loader', 'load') }}
        type="submit" class="btn btn-green text-right text-white"
        data-turbo="false"
>
    <span {{ stimulus_target('loader', 'content') }}>{{ text }}</span>
    <span
            {{ stimulus_target('loader', 'loadingContent') }}
            class="spinner-border"
            style="width: 1rem; height: 1rem;"
            role="status"
    >
        <span class="sr-only">Loading...</span>
    </span>
</button>
