<input type="checkbox" value="{{ field_value(field) }}" name='{{ field_name(field) }}' class="checkbox" id="{{ field_name(field) }}" {% if field_value(field) %} checked {% endif %}>
<label for="{{ field_name(field) }}">{{ field_label(field) }}</label>
