<div class="{{ hideAndShow ? 'input-group' : '' }}" {{ stimulus_controller('hide-show-password') }}>
    {{ form_widget(field, {'attr': {'data-hide-show-password-target' : 'input'}}) }}
    {% if hideAndShow %}
        <div class="input-group-append">
            <a class="input-group-text d-block btn btn-block bg-light-grey" data-action="click->hide-show-password#toggle">
                <i class="fa fa-eye-slash text-primary" data-hide-show-password-target="icon"></i>
            </a>
        </div>
    {% endif %}
    {{ form_errors(field) }}
</div>
{% if not isBeneficiaire %}
    <div class="d-none" {{ stimulus_target('password-strength', 'widget') }}>
        {{ include('v2/user/strong_password/_password_strength_widget.html.twig') }}
    </div>
{% endif %}
