<a href="{{ path }}"
   class="btn btn-{{ color is defined ? color : getUserThemeColor() }} text-white text-center mt-2 col mx-1" {{ attr is defined ? attr : '' }}>
    {% if icon is defined %}
        <i class="{{ icon }} me-2" aria-hidden="true"></i>
    {% endif %}
    {{ message|trans }}
</a>
