<a href="{{ path }}"
   class="btn btn-{{ color }} text-white text-center mt-2 col mx-1" {{ attr }}>
    {% if icon is defined %}
        <i class="{{ icon }} me-2" aria-hidden="true"></i>
    {% endif %}
    {{ message|trans }}
</a>
