{% extends 'v2/management_layout.html.twig' %}

{% block metaTitle %}{{ 'share_document'|trans }}{% endblock metaTitle %}
{% block subTitleIconName %}paper-plane{% endblock %}
{% block subTitle %}<u>{{ personalData.nom }}</u>{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12 col-md-4 text-start">
            <h5 class="text-center">{{ 'enter_an_email'|trans }}</h5>
            <div class="mt-md-3">
                {{ form_start(form) }}
                {{ form_row(form.email) }}
                <div class="text-end">
                    {{ button('submit', 'send', 'green') }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-12 col-md-7 offset-md-1 mt-5 mt-md-0 text-center">
            <h5>{{ app.user.isBeneficiaire ? 'my_contacts'|trans : 'send_to_contact'|trans }}</h5>
            <div style="scale: 0.9">
                {{ include('v2/vault/contact/_list_share_document.html.twig', {contacts}) }}
            </div>
        </div>
    </div>
{% endblock %}
