{% extends 'v2/management_layout.html.twig' %}

{% block metaTitle %}{{ user.subjectBeneficiaire ? 'disaffiliate_beneficiary'|trans : 'disaffiliate_user'|trans }}{% endblock metaTitle %}
{% block subTitleIconName %}user-times{% endblock %}
{% block subTitle %}{{ 'disaffiliate_beneficiary_subtitle'|trans|upper }} {{ user.fullName|upper }} {% endblock %}

{% block content %}
    <h5 class="text-center my-4 px-3 px-md-5">
        {{  'select_relays_for_disaffiliation'|trans }}:
    </h5>
    <div class="row mt-3 mx-auto">
        {% for relay in relays %}
            {{ include('v2/user/disaffiliation/_disaffiliate_card.html.twig', {relay}) }}
        {% endfor %}
    </div>
{% endblock %}
