<section class="{{ bg_class }} pt-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 offset-md-2 offset-lg-0 col-lg-8 text-center mb-4 mt-lg-3 pt-lg-2">
                <h2 class="h2 text-primary mt-5">{{ 'contact_us_title'| trans }}</h2>
                <h3 class="h3 text-white pt-1 mb-0">{{ 'subscribe_newsletter'|trans }}</h3>
                <iframe width="650" height="800" src="https://a2c14f23.sibforms.com/serve/MUIFACKrEfFVpOmOB5O4_XkNUY1i4RqGpdBkVq02zNi2qsBObL-JB9V5QkHf9FY6LD46ldMi7TQkpJTtw_rmjfPwI8cPJirS-aSfsZ3dbHwnB8DP2hFVWgGWY7jkflfrsWK3FBqYz2v0YzQsD_OL-ba1yYT44BVRlK_4lTjYHCfNO412Hkpd_4nMjIwfmgDC5L5sUajermLpvjH0"
                         allowfullscreen style="margin-left: auto;margin-right: auto;max-width: 100%;">

                </iframe>
            </div>
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-0 text-center">
                {% set logo_path = 'build/images/homeV2/' ~ logo_file_name %}
                <img class="img-fluid w-75 my-3"
                     src="{{ asset(logo_path) }}"
                     alt="{{ logo_alt| trans }}">
                <div class="my-4 my-md-0 mt-2">
                    <a class="btn btn-primary py-2 px-lg-5 px-3 rounded-pill font-size-1-2"
                       href="{{ path('re_main_contactV2') }}">{{ 'contact_us_button'| trans }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
