<section class="{{ bg_class }} pt-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 offset-md-2 offset-lg-0 col-lg-8 text-center mb-4 mt-lg-3 pt-lg-2">
                <h2 class="h2 text-primary mt-5">{{ 'contact_us_title'| trans }}</h2>
                <h3 class="h3 text-white pt-1 mb-0">{{ 'subscribe_newsletter'|trans }}</h3>
                <iframe width="650" height="800" src="https://a2c14f23.sibforms.com/serve/MUIFAEYNyAphfhylprFvXSG8KSfR3ZnWqcLZ9DI0a8OYc3jJ5B1ZxPAzfa1u98zyUmn01GVXTWAes7uSba-8wT8LnvmMN-zDOpiupmwxIzM9wPVkzFf6gbvRvrjUQGvp7Igotim26T7YkOpvx14uGSAHVrGjmO_3JpzRzF3dZl3StTBFFO2eWYZb89IYlb4XL8m9nRdie2joFUHk"
                         allowfullscreen style="margin-left: auto;margin-right: auto;max-width: 100%;">

                </iframe>
            </div>
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-0 text-center">
                {% set logo_path = 'build/images/homeV2/' ~ logo_file_name %}
                <img class="img-fluid w-75 my-3"
                     src="{{ asset(logo_path) }}"
                     alt="{{ logo_alt| trans }}">
                <div class="my-4 my-md-0 mt-2">
                    <a class="btn btn-primary py-2 px-lg-5 px-3 rounded-pill font-size-1-2"
                       href="{{ path('re_main_contactV2') }}">{{ 'contact_us_button'| trans }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
