<section class="{{ bg_class }} py-3">
	<div class="container">
		<div class="row pb-4 align-items-center">
			<div class="col-12 col-md-8 offset-md-2 offset-lg-0 col-lg-8 text-center mb-4 mt-lg-3 pt-lg-2">
				<h2 class="h2 text-primary mt-5">{{ 'contact_us_title'| trans }}</h2>
				<h3 class="h3 text-white pt-3">{{ 'contact_us_title2'| trans }}</h3>
				<iframe class="mj-w-res-iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/54dF/MMG" width="100%"></iframe>
				<script type="text/javascript" src="https://app.mailjet.com/statics/js/iframeResizer.min.js"></script>
			</div>
			<div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-0 text-center">
				{% set logo_path = 'build/images/homeV2/' ~ logo_file_name %}
				<img class="img-fluid w-75 my-3" src="{{ asset(logo_path) }}" alt="{{ logo_alt| trans }}">
				<div class="my-4 my-md-0 mt-2">
					<a class="btn-primary text-decoration-none py-2 font-size-1-3 px-lg-5 px-3 border-radius-40" href="{{ path('re_main_contactV2') }}">{{ 'contact_us_button'| trans }}</a>
				</div>
			</div>
		</div>
	</div>
</section>
