{% extends 'v2/reset_password/beneficiary/reset_password_layout.html.twig' %}
{% form_theme form 'v2/form_theme/create_user_form_theme.html.twig' %}

{% block homeButton %}
    <a href="{{ path('reset_password_beneficiary', {id: beneficiary.id}) }}"
       class="btn btn-link text-primary">
        <i class="fa fa-chevron-left"></i>
        {{ 'back_home'|trans }}
    </a>
{% endblock %}

{% block content %}
    <div class="col-12 col-md-6 col-lg-4 mx-auto mt-5">
        {{ form_start(form) }}
        {{ form_row(form.smsCode) }}
        {{ form_label(form.password.plainPassword.first) }}
        {{ include('v2/common/_hide_show_password_input.html.twig', {field : form.password.plainPassword.first, hideAndShow: true, isBeneficiaire: true}) }}
        {{ form_row(form.password.plainPassword.second) }}
        <div class="d-grid gap-2 mt-3">
            {{ include('v2/common/_button_with_loader.html.twig', {text: 'confirm'|trans, color: 'blue' }) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
