<div class="col-12 mt-1 pb-1 text-center col-sm-4 text-sm-start">
    <h5 class="pb-1">Reconnect Pro</h5>
    <a target="_self" class="d-block text-decoration-none my-3"
       href="{{ path('re_main_page_RP') }}">{{ 'footer_discover_rp'|trans }}</a>
    <a target="_self" class="d-block text-decoration-none my-3"
       href="{{ reconnectProEndpoint~'/login' }}">{{ 'form_connexion'|trans }}</a>
    <a target="_blank" class="d-block text-decoration-none my-3"
       href="{{ reconnectProEndpoint~'/legal/service.pdf' }}">{{ 'footer_CGS_rp'|trans }}</a>
    <a target="_blank" class="d-block text-decoration-none my-3"
       href="{{ reconnectProEndpoint~'/legal/privacy.pdf' }}">{{ 'footer_confidentiality_rp'|trans }}</a>
</div>
