<div class="col-12 mt-1 pb-1 text-center col-sm-3 text-sm-start">
    <h5 class="pb-1">Reconnect</h5>
    <a target="_self" class="d-block text-decoration-none my-3"
       href="{{ path('re_main_accueil') }}#qui-sommes-nous">{{ 'home_who_we_are_title'|trans }}</a>
    <a target="_self" class="d-block text-decoration-none my-3"
       href="{{ path('re_main_contactV2') }}">{{ 'contact_page_title'|trans }}</a>
    <a target="_self" class="d-block text-decoration-none my-3"
       href="{{ path('re_main_faq') }}">{{ 'faq_gdpr'|trans }}</a>
    <a target="_blank" class="d-block text-decoration-none my-3"
       href="https://www.groupe-sos.org">Groupe SOS</a>
    <div class="mb-3">
        <a target="_blank" href="https://www.facebook.com/reconnectlecloudsolidaire"><i
                    class="fab fa-facebook-square font-size-1-3 mx-1"></i></a>
        <a target="_blank" href="https://www.linkedin.com/company/reconnect_2/"><i
                    class="fab fa-linkedin font-size-1-3 mx-1"></i></a>
        <a target="_blank" href="https://twitter.com/ReconnectCloud"><i
                    class="fab fa-twitter-square font-size-1-3 mx-1"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCYQOlpeG9KrVvCiKHgUNZcA"><i
                    class="fab fa-youtube-square font-size-1-3 mx-1"></i></a>
        <a target="_blank" href="https://medium.com/reconnect"><i
                    class="fab fa-medium font-size-1-3 mx-1"></i></a>
        <a target="_blank" href="https://github.com/re-connect/vault"><i
                    class="fab fa-github font-size-1-3 mx-1"></i></a>
    </div>
</div>
