<div class="col-12 mt-1 pb-1 text-center col-sm-4 text-sm-start">
    <h5 class="pb-1">{{ 'vault'|trans }}</h5>
    <a target="_self" class="d-block text-decoration-none my-3"
       href="{{ path('re_main_page_vault') }}">{{ 'footer_discover_vault'|trans }}</a>
    <a target="_self" class="d-block text-decoration-none my-3"
       href="{{ path('re_main_page_vault') }}">{{ 'form_connexion'|trans }}</a>
    <a target="_blank" class="d-block text-decoration-none my-3"
       href="{{ path('cgs') }}">{{ 'footer_CGS_vault'|trans }}</a>
    <a target="_blank" class="d-block text-decoration-none my-3"
       href="{{ path('re_admin_annexe', { url: 'confidentialite-cs'}) }}">{{ 'footer_confidentiality_vault'|trans }}</a>
</div>
