<tr class="text-primary text-center align-middle"
        {{ stimulus_controller('ajax-toggle', {'url': path('note_toggle_visibility', {'id': note.id}) })}}
>
    {% set cardClasses = ['bg-white', 'borderless', 'text-start', 'p-0', 'w-100', 'me-auto', 'position-relative'] %}
    {% if app.user.isBeneficiaire %}
        {% set cardClasses = cardClasses|merge(['personal-data-card']) %}
    {% endif %}
    {% if event.bPrive %}
        {% set cardClasses = cardClasses|merge(['private']) %}
    {% else %}
        {% set cardClasses = cardClasses|merge(['shared']) %}
    {% endif %}

    <td class="{{ cardClasses|join(' ') }}"
            {{ stimulus_target('ajax-toggle', 'card') }}
        data-toggle-classes="shared private"
    >
        <a href="{{ path('note_detail', {'id': note.id}) }}" class="text-decoration-none text-primary d-block py-2 ps-3">
            <span>{{ note.nom }}</span>
            <br>
            <span class="text-light-grey">{{ note.createdAt|date('d/m/Y') }}</span>
        </a>
    </td>
    {% if app.user.isBeneficiaire %}
        <td class="bg-white borderless w-25">
            {{ include('v2/vault/components/_toggle_visibility_button.html.twig', {
                'url': path('note_toggle_visibility', {'id': note.id}),
                'private': note.bPrive,
            }) }}
        </td>
    {% endif %}
    <td class="bg-white borderless w-25 pe-3" {{ stimulus_controller('dropdown-menu') }}>
        {{ include('v2/vault/components/_action_dropdown.html.twig', {personalData: note}) }}
    </td>
</tr>
