<tr class="text-primary text-center align-middle">
    <td class="bg-white borderless text-start p-0 w-100 me-auto">
        <a href="{{ path('note_detail', {'id': note.id}) }}" class="text-decoration-none text-primary d-block py-2 ps-3">
            <span>{{ note.nom }}</span>
            <br>
            <span class="text-light-grey">{{ note.createdAt|date('d/m/Y') }}</span>
        </a>
    </td>
    {% if app.user.isBeneficiaire %}
        <td class="bg-white borderless w-25">
            {{ include('v2/vault/components/_toggle_visibility_button.html.twig', {
                'url': path('note_toggle_visibility', {'id': note.id}),
                'private': note.bPrive,
            }) }}
        </td>
    {% endif %}
    <td class="bg-white borderless w-25 pe-3" {{ stimulus_controller('dropdown-menu') }}>
        {{ include('v2/vault/components/_action_dropdown.html.twig', {
            'editPath': path('note_edit', {'id': note.id}),
            'detailPath': path('note_detail', {'id': note.id}),
            'delete': {
                'path': path('note_delete', {'id': note.id}),
                'message': 'modal_message_note_deletev2'|trans({'%name%': note.nom}),
            },
            'switchPrivate': {
                'path': path('note_toggle_visibility', {'id': note.id}),
                'message': 'switch_content_private_confirm'|trans,
            },
        }) }}
    </td>
</tr>
