{% set route = app.request.attributes.get('_route')|split('_') %}
<li class="col nav-item beneficiary-nav-item">
    <a href="{{ path(routeName, {'id': beneficiary.id}) }}" class="btn nav-link text-primary px-2
    {{ item|split('-')|filter((i) => i in route ) ? 'current-item' : '' }}"
    >
        <img src="{{ asset(image) }}"
             alt="{{ title|trans }}"
             class="img-{{ item }} d-none d-sm-inline"
        >
        <hr class="mt-4 hr-2 d-none d-md-block">
        <p class="font-size-1-3 bold mb-0">{{ title|trans }}</p>
    </a>
</li>
