{% extends 'v2/app/common/list_container_layout.html.twig' %}

{% block metaTitle %}{{ 'evenement.metaTitle'|trans }}{% endblock metaTitle %}

{% block list %}
    <div class="list-container d-flex flex-column justify-content-center">
        {{ events is not empty
        ? include('v2/app/event/list.html.twig', {events})
        : include('v2/app/common/empty_list_content.html.twig', {'message': 'evenement.emptyData'|trans}) }}
    </div>
{% endblock %}

{% block searchform %}
    {{ include('v2/app/common/search_input.html.twig', {
        'routeName': 'event_search',
        'beneficiaryId': beneficiary.id,
    }) }}
{% endblock %}

{% block actionButtons %}
    <a href="{{ path('event_create', {'id': beneficiary.id}) }}" class="btn btn-green text-white">
        <i class="fas fa-plus-circle me-2"></i>{{ 'donneePersonnelle.ajouter'|trans }}
    </a>
{% endblock %}

{% block notifications %}
    {{ render(controller('App\\ControllerV2\\MemberBeneficiaryController::firstMemberVisitNotification', {'id': beneficiary.id})) }}
    {{ render(controller('App\\ControllerV2\\RelayController::relayNotification', {'id': beneficiary.id})) }}
{% endblock %}
