<section class="bg-blue mt-3 pt-3 pt-md-5">
    <div class="container">
        <div class="row text-center pt-5">
            <div class="offset-1 offset-md-0 col-10 col-md-4 mt-md-5">
                <img style="width:90%;" class="img-fluid mt-5" src="{{ asset('build/images/homeV2/logo_recopro_white_v2.png') }}"
                     alt="{{ 'home_our_solutions_alt_logo_rp' |trans }}">
            </div>
            <div class="col-12 offset-md-2 col-md-6">
                <h3 class="text-primary position-relative top-30">{{ 'rp_page_hero_text' |trans }}</h3>
                <img class="img-fluid w-50" src="{{ asset('build/images/homeV2/watermark_rp.png') }}"
                     alt="{{ 'home_our_solutions_alt_logo_rp' |trans }}">
            </div>
            <div class="col-12 col-md-6 offset-md-3">
                <div class="pb-5 mx-auto">
                    <a class="btn-primary text-decoration-none p-4 mx-auto border-radius-40 font-size-1-3 d-block  w-50"
                       href="https://pro.reconnect.fr/login">{{ 'form_connexion'| trans }}</a>
                </div>
            </div>
        </div>
    </div>
</section>