{% set hasDocuments = folder.documents is not empty %}
<tr {{ stimulus_controller('ajax-toggle', {'url': path('folder_toggle_visibility', {'id': folder.id}) })|stimulus_target('drag_n_drop', 'folder') }}
        class="text-primary text-center draggable droppable position-relative"
        data-id="{{ folder.id }}"
>
    <td class="bg-white borderless text-start align-middle  personal-data-card {{ folder.bPrive ? 'private' : 'shared' }} position-relative"
            {{ stimulus_target('ajax-toggle', 'card') }}
        data-toggle-classes="shared private">
        <a href="{{ path('folder', {'id': folder.id}) }}" class="text-decoration-none text-primary d-block">
            <img src="{{ asset(folder.getIconFilePath) }}" style="width: 63px" alt="{{ 'folder_picture'|trans }}">
        </a>
    </td>
    <td class="bg-white borderless text-start align-middle w-100">
        <a href="{{ path('folder', {'id': folder.id}) }}" class="text-decoration-none text-primary d-block">
            <span class="font-size-1">{{ folder.nom }}</span>
            <br>
            <span class="text-light-grey">{{ folder.createdAt|date('d/m/Y') }}</span>
        </a>
    </td>
    <td class="bg-white borderless align-middle">
        {% if hasDocuments %}
            {{ include('v2/vault/components/_download_folder_document_button.html.twig', {
                'path': path('folder_download', {'id': folder.id}),
            }) }}
        {% else %}
            <i class="fas fa-file-download text-grey"
               aria-hidden="true" title="{{ 'empty'|trans }}">
            </i>
        {% endif %}
    </td>
    <td class="bg-white borderless w-25 align-middle">
        {% if app.user.isBeneficiaire %}
            {% if folder.canToggleVisibility %}
                {{ include('v2/vault/components/_toggle_visibility_button.html.twig', {
                    'url': path('folder_toggle_visibility', {'id': folder.id}),
                    'private': folder.bPrive,
                }) }}
            {% else %}
                <i class="fas fa-lock text-primary me-2" {{ stimulus_controller('tooltip', {title: 'private'|trans}) }}></i>
            {% endif %}
        {% endif %}
    </td>
    {% set deleteMessage = folder.hasDocuments ? 'folder_contains_documents_alert' : 'modal_message_folder_deletev2'%}
    {% set actions = {
        'editPath': path('folder_rename', {'id': folder.id}),
        'detailPath': path('folder_detail', {'id': folder.id}),
        'movePath': path('folder_tree_view_move', {'id': folder.id}),
        'delete': {
            'path': path('folder_delete', {'id': folder.id}),
            'message': deleteMessage|trans({'%name%': folder.nom}),
        },
        'switchPrivate': folder.dossierParent
        ? null
        : {
            'path': path('folder_toggle_visibility', {'id': folder.id}),
            'message': 'switch_content_private_confirm'|trans,
        },
    } %}
    {% if hasDocuments %}
        {% set actions = actions|merge({
            'sendPath': path('folder_share', {'id': folder.id}),
        }) %}
    {% endif %}
    <td class="bg-white borderless text-end pe-3 pe-sm-4 align-middle" {{ stimulus_controller('dropdown-menu') }}>
        {{ include('v2/vault/components/_action_dropdown.html.twig', actions) }}
    </td>
</tr>
