<tr class="text-primary text-center draggable droppable"
        {{ stimulus_target('drag_n_drop', 'folder') }} data-id="{{ folder.id }}"
>
    <td class="bg-white borderless text-start align-middle">
        <a href="{{ path('folder', {'id': folder.id}) }}" class="text-decoration-none text-primary d-block">
            <i class="fa fa-fw fa-folder-open fa-3x"></i>
        </a>
    </td>
    <td class="bg-white borderless text-start align-middle w-100">
        <a href="{{ path('folder', {'id': folder.id}) }}" class="text-decoration-none text-primary d-block">
            <span class="font-size-1">{{ folder.nom }}</span>
            <br>
            <span class="text-light-grey">{{ folder.createdAt|date('d/m/Y') }}</span>
        </a>
    </td>
    <td class="bg-white borderless align-middle">
        {% if folder.documents is not empty %}
            {{ include('v2/vault/components/_download_folder_document_button.html.twig', {
                'path': path('folder_download', {'id': folder.id}),
            }) }}
        {% else %}
            <i class="fas fa-file-download text-grey"
               aria-hidden="true" title="{{ 'dossier.vide'|trans }}">
            </i>
        {% endif %}
    </td>
    {% if app.user.isBeneficiaire %}
        <td class="bg-white borderless w-25 align-middle">
            {{ include('v2/vault/components/_toggle_visibility_button.html.twig', {
                'url': path('folder_toggle_visibility', {'id': folder.id}),
                'private': folder.bPrive,
            }) }}
        </td>
    {% endif %}
    <td class="bg-white borderless text-end pe-3 pe-sm-4 align-middle" {{ stimulus_controller('dropdown-menu') }}>
        {% set deleteMessage = folder.hasDocuments ? 'folder_contains_documents_alert' : 'modal_message_folder_deletev2'%}
        {{ include('v2/vault/components/_action_dropdown.html.twig', {
            'editPath': path('folder_rename', {'id': folder.id}),
            'detailPath': path('folder_detail', {'id': folder.id}),
            'movePath': path('folder_tree_view_move', {'id': folder.id}),
            'delete': {
                'path': path('folder_delete', {'id': folder.id}),
                'message': deleteMessage|trans({'%name%': folder.nom}),
            },
        }) }}
    </td>
</tr>
