{% extends 'v2/base.html.twig' %}

{% block metaTitle %}
    {{ 'user_firstVisit_membre_metaTitle'|trans }}
{% endblock metaTitle %}

{% block notifications %}{% endblock %}
{% block bodyColor %}white{% endblock %}

{% block body %}
    <div class="mt-5 pt-5">
        <h1 class="text-center text-primary text-uppercase">
           {% if app.user.isMembre%}
               {{ 'member_new_guide_title'|trans|raw }}
           {% else %}
               {{ 'benef_new_guide_title'|trans|raw }}
           {% endif %}
        </h1>
        <br/>
        <div class="{{ getUserBackgroundColor() }} p-4" style="height: 100%">
            <div class="container">
                <div class="text-center text-primary col-10 m-auto my-3 card rounded-card p-4 shadow">
                    <h2 class="center text-primary text-center my-3"><i class="fa-solid fa-file-signature px-1"></i>{{ 'general_conditions_of_use'|trans|upper }}</h2>
                    {%  if is_feature_enabled('NEW_CGS') %}
                        {{ include('v2/user/first_visit/_new_cgs_frame.html.twig') }}
                    {% else %}
                        {{ include('v2/user/first_visit/_cgs_text.html.twig') }}
                    {% endif %}
                    {{ form_start(form, {"attr" : {"class" : "display-required-labels", "novalidate":"novalidate"}}) }}
                    <div class="row font-size-1-2">
                        {{ form_errors(form) }}
                        {{ form_row(form.accept) }}
                    </div>
                    <div class='d-flex flex-column justify-content-center align-items-center text-primary w-100 pt-4'>
                        {% if form.mfaEnabled is defined %}
                            <hr class="w-50 mx-auto" />
                            <div class="d-flex py-4">
                                <div class="px-3 d-flex flex-column justify-content-center align-items-center">
                                    <i class="fa fa-key fa-xl"></i>
                                    <i class="fa fa-key mt-4 fa-xl fa-rotate-180"></i>
                                </div>
                                <h2 class="text-center text-primary text-uppercase">
                                    {{ 'mfa'|trans|raw }}
                                </h2>
                            </div>
                            <p class="w-75 text-center">{{ 'enable_mfa_help'|trans }}</p>
                            <div class="font-size-1-2">
                                {{ form_row(form.mfaEnabled) }}
                            </div>
                            <div class="d-flex font-size-1-2 py-2">
                                <div class="px-1 text-start">{{ form_label(form.mfaMethod) }}</div>
                                <div class="px-1 text-start">{{ form_widget(form.mfaMethod) }}</div>
                            </div>
                            <div class="form-error text-danger help-block">
                                {{ form_errors(form.mfaMethod) }}
                            </div>
                        {%  endif %}
                        <div class="d-flex col-4 pt-2 justify-content-center">
                            <div class="col-4 d-flex justify-content-center">
                                {{ include('v2/common/_button.html.twig', {message: 'confirm'}) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
