{% extends 'v2/base.html.twig' %}

{% block metaTitle %}{{ 'mfa'|trans }}{% endblock metaTitle %}

{% block notifications %}{% endblock %}
{% block bodyColor %}white{% endblock %}

{% block body %}
    <div class="position-relative bg-white text-center mt-75">
        <h1 class="p-3 p-md-3 p-lg-4 text-primary text-uppercase bold page-title">
            <span class="">Paramètres de</span>
            <span class="text-{{ getUserThemeColor() }}">sécurité</span>
        </h1>
    </div>
    <div class="container-fluid max-width text-primary mx-auto {{ getUserBackgroundColor() }}" style="height: 100%">
        <div class="container py-5">
            <div class="text-center text-primary col-md-8 m-auto my-3 card rounded-card p-4 shadow">
                <div class='d-flex flex-column justify-content-center align-items-center text-primary w-100'>
                    <h2 class="text-center text-primary text-uppercase">
                        {{ 'mfa'|trans|raw }}
                    </h2>
                    <i class="fa fa-key pt-2 fa-2x"></i>
                    <i class="fa fa-key pt-3 fa-2x fa-rotate-180"></i>
                    <p class="w-75 text-center">{{ 'mfa_description'|trans }}</p>
                    {{ form_start(form) }}
                    <div class="row">
                        {{ form_row(form.mfaEnabled) }}
                    </div>
                    <div class="row py-2">
                        {{ form_row(form.mfaMethod, {'attr' : {'class' : 'px-3'}}) }}
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-4 d-flex justify-content-center">
                            {{ include('v2/common/_button.html.twig', {message: 'confirm'}) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}