<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block metaTitle %}{{ 'home.metaTitleV2'|trans }}{% endblock metaTitle %}
        - {{ 'main.metaAppend'|trans }}</title>

    {{ include('v2/common/_metas.html.twig') }}

    {% block styles %}
        {{ encore_entry_link_tags('appV2style') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('appV2') }}
        {{ include('v2/common/_crisp.html.twig') }}
    {% endblock javascripts %}

    {{ include('favicons.html.twig') }}
</head>
<body class="d-flex flex-column">
{{ include('v2/header/header.html.twig') }}

<main role="main" class="position-relative {% block bodyColor %}{{ getUserBackgroundColor() }}{% endblock %} pb-5">
    {{ include('v2/flashMessages.html.twig') }}
    {% block notifications %}
        {{ getRelayInvitationNotifications() }}
        {{ include('v2/common/_notifications.html.twig') }}
    {% endblock %}

    {% block body %}{% endblock body %}
</main>

{{ include('v2/footer.html.twig') }}
</body>
</html>
