{% set criteria = ['length', 'special', 'number', 'uppercase', 'lowercase'] %}
<div>
    <span class="hidden text-success" {{ stimulus_target('password-strength', 'validText') }}>
        <i class="fa fa-lock mr-2"></i>{{ 'password_valid'|trans }}
    </span>
    <span class="hidden text-danger" {{ stimulus_target('password-strength', 'invalidText') }}>
        <i class="fa fa-times mr-2"></i>{{ 'password_invalid'|trans }}
    </span>
    <span class="text-muted form-text">{{ 'password_help'|trans }}</span>
    {% for criterion in criteria %}
        <span
                {{ stimulus_target('password-strength', 'badge') }}
                data-criterion-name="{{ criterion }}"
                class="badge rounded-pill bg-success text-white"
        >{{ ('password_criterion_'~criterion)|trans }}</span>
    {% endfor %}
</div>
