{% set baseCriteria = ['length', 'number', 'uppercase', 'lowercase'] %}
{% set proCriteria = ['special'] %}
{% set criteria = isBeneficiaire ? baseCriteria : baseCriteria|merge(proCriteria) %}
<div>
    <span class="text-muted form-text">{{ isBeneficiaire ? 'password_help_beneficiary'|trans : 'password_help_pro'|trans }} :</span>
    <div class="my-2">
        {% block field %}{% endblock %}
    </div>
    <div {{ stimulus_target('password-strength', 'widget') }} class="text-center mb-2">
        <span class="d-none text-success" {{ stimulus_target('password-strength', 'validText') }}>
            <i class="fa fa-lock mx-1"></i>{{ 'password_valid'|trans }}
        </span>
        <span class="d-none text-danger" {{ stimulus_target('password-strength', 'invalidText') }}>
            <i class="fa fa-times mx-1"></i>{{ 'password_too_weak'|trans }}
        </span>
    </div>
    <div class="text-center">
        {% for criterion in criteria %}
            <span
                {{ stimulus_target('password-strength', 'badge') }}
                data-criterion-name="{{ criterion }}"
                class="badge rounded-pill bg-red text-white mx-1 mb-2 p-2"
            >
                {{ ('password_criterion_'~criterion)|trans('length' == criterion ? {'%length%': passwordLength} : {}) }}
            </span>
        {% endfor %}
    </div>
</div>
