{% extends "base.html.twig" %}

{% block notifications %}{% endblock %}

{% block body %}
    <div class="centeredContainer">
        <div id="page-beneficiaireSetQuestionSecrete" style="">
            <h1 class="h1 center text-primary">Bienvenue sur <span class="vault-green">Reconnect</span>!</h1><br/>
            {{ form_start(form, {"attr" : {"class" : "reForm form-80 font-size-1"}}) }}
            <table class="smallPaddingTable">
                <tr>
                    <td><label for="re_form_setQuestionSecrete_user_plainPassword_first"
                               class="required">{{ 'form_password'|trans }}</label></td>
                    <td {{ stimulus_controller('hide-show-password') }}>
                        {{ form_widget(form.user.plainPassword.first, {'attr': {'data-hide-show-password-target' : 'input'}}) }}
                        <button type="button" class="btn btn-green" data-action="hide-show-password#toggle">
                            <i class="fa fa-eye-slash text-white" data-hide-show-password-target="icon"></i>
                        </button>
                        {{ form_errors(form.user.plainPassword.first) }}
                    </td>
                </tr>
                <tr id="user_plainPassword_second_tr">
                    <td><label for="re_form_setQuestionSecrete_user_plainPassword_second"
                               class="required">{{ 'password_confirm'|trans }}</label></td>
                    <td {{ stimulus_controller('hide-show-password') }}>
                        {{ form_widget(form.user.plainPassword.second, {'attr': {'data-hide-show-password-target' : 'input'}}) }}
                        <button type="button" class="btn btn-green" data-action="hide-show-password#toggle">
                            <i class="fa fa-eye-slash text-white" data-hide-show-password-target="icon"></i>
                        </button>
                        {{ form_errors(form.user.plainPassword.second) }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ form_errors(form.user.plainPassword.second) }}</td>
                </tr>
                <tr>
                    <td><label for="re_form_setQuestionSecrete_questionSecrete"
                               class="required">{{ 'secret_question'|trans }}</label></td>
                    <td>{{ form_widget(form.questionSecrete) }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ form_errors(form.questionSecrete) }}</td>
                </tr>
                <tr id="lineAutreQuestion">
                    <td><label for="re_form_setQuestionSecrete_autreQuestionSecrete"
                               class="required">{{ 'set_secret_question'|trans }}</label></td>
                    <td>{{ form_widget(form.autreQuestionSecrete) }}</td>
                </tr>
                <tr>
                    <td><label for="re_form_setQuestionSecrete_reponseSecrete"
                               class="required">{{ 'secret_answer'|trans }}</label></td>
                    <td>{{ form_widget(form.reponseSecrete) }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ form_errors(form.reponseSecrete) }}</td>
                </tr>
                <tr>
                    <td><label for="re_form_setQuestionSecrete_user_email">{{ 'email'|trans }}</label></td>
                    <td>{{ form_widget(form.user.email) }}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ form_widget(form.submit, {'attr': {'class': 'btn-green'}}) }}</td>
                </tr>
            </table>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('set_question_secrete') }}
{% endblock %}
