<tr class="text-primary text-center align-middle"
    {{ stimulus_controller('ajax-toggle', {'url': path('contact_toggle_visibility', {'id': contact.id}) })}}
>
    {% set cardClasses = ['bg-white', 'borderless', 'p-0', 'position-relative'] %}
    {% if app.user.isBeneficiaire %}
        {% set cardClasses = cardClasses|merge(['personal-data-card']) %}
    {% endif %}
    {% if contact.bPrive %}
        {% set cardClasses = cardClasses|merge(['private']) %}
    {% else %}
        {% set cardClasses = cardClasses|merge(['shared']) %}
    {% endif %}

    <td class="{{ cardClasses|join(' ') }}"
        {{ stimulus_target('ajax-toggle', 'card') }}
        data-toggle-classes="shared private"
    >
        <a href="{{ path('contact_detail', {'id': contact.id}) }}" class="text-decoration-none text-primary d-block py-2 h-100">
            {{ contact.nom|upper }}
        </a>
    </td>
    <td class="bg-white borderless p-0">
        <a href="{{ path('contact_detail', {'id': contact.id}) }}" class="text-decoration-none text-primary d-block py-2 h-100">
            {{ contact.prenom }}
        </a>
    </td>
    {% block phone %}
        <td class="bg-white borderless d-none d-lg-table-cell p-0">
            <a href="{{ path('contact_detail', {'id': contact.id}) }}" class="text-decoration-none text-primary d-block py-2 h-100">
                {{ contact.telephone }}
            </a>
        </td>
    {% endblock %}
    <td class="bg-white borderless d-none d-lg-table-cell p-0">
        <a href="{{ path('contact_detail', {'id': contact.id}) }}" class="text-decoration-none text-primary d-block py-2 h-100">
            {{ contact.email }}
        </a>
    </td>
    {% block toggle_visibility_button %}
        {% if app.user.isBeneficiaire %}
            <td class="bg-white borderless">
                {{ include('v2/vault/components/_toggle_visibility_button.html.twig', {
                    'url': path('contact_toggle_visibility', {'id': contact.id}),
                    'private': contact.bPrive,
                }) }}
            </td>
        {% endif %}
    {% endblock %}
    {% block action %}
        <td class="bg-white borderless" {{ stimulus_controller('dropdown-menu') }}>
            {{ include('v2/vault/components/_action_dropdown.html.twig', {personalData: contact}) }}
        </td>
    {% endblock %}
</tr>
