{% extends 'v2/vault/contact/_card.html.twig' %}

{% block phone %}{% endblock %}

{% block toggle_visibility_button %}{% endblock %}

{% block action %}
    {% set hasNoEmail = not contact.email %}
    {% set path = path('document_share_with_contact', {id: document.id, contactId: contact.id}) %}
    <td class="bg-white borderless">
        <div {% if hasNoEmail %}{{ stimulus_controller('tooltip', {title: 'contact_has_no_email'|trans}) }}{% endif %}>
            <a href="{{ path }}"
               class="btn {{ getUserButtonColor() }} {{ hasNoEmail ? 'disabled' : '' }}"
                    {{ stimulus_controller('alert', {
                        confirmButtonText: 'submit'|trans,
                        confirmButtonColor: getUserThemeColor(),
                        cancelButtonText: 'cancel'|trans,
                        message: 'confirm_send_document_to_contact'|trans({'%contactName%' : contact.fullName }),
                        url: path,
                    }) }}
               {{ stimulus_action('alert', 'confirm') }}
            >
                {{ 'send'|trans }}
            </a>
        </div>
    </td>
{% endblock %}
