<table class="table table-100 table-hover spaced-table mb-0 h-100">
    <thead>
    <tr class="text-primary text-center font-size-1-3">
        <th class="bg-grey borderless">{{ 'name'|trans }}</th>
        <th class="bg-grey borderless">{{ 'surname'|trans }}</th>
        <th class="bg-grey borderless d-none d-lg-table-cell">{{ 'phone'|trans }}</th>
        <th class="bg-grey borderless d-none d-lg-table-cell">{{ 'email'|trans }}</th>
        {% if app.user.isBeneficiaire %}
            <th class="bg-grey borderless">{{ 'access'|trans }}</th>
        {% endif %}
        <th class="bg-grey borderless">{{ 'donneePersonnelle.list.entete.actions'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
        {{ include('v2/vault/contact/_card.html.twig', {contact}) }}
    {% endfor %}
    </tbody>
</table>
<hr class="text-primary">
<div class="d-flex justify-content-end">
    {{ knp_pagination_render(contacts, 'v2/vault/components/_pagination.html.twig', {}, {
        'routeName': 'search_contacts',
        'id': beneficiary.id
    }) }}
</div>
