<table class="table table-100 spaced-table mb-0 h-100 bg-white">
    <tbody>
    {% for beneficiary in beneficiaries %}
        <tr class="text-primary align-middle bg-white">
            <td class="border-0 p-0 h-100 text-center">
                <a href="{{ path('re_app_document_list', {'id': beneficiary.id}) }}"
                   class="text-decoration-none text-primary d-block h-100 py-2"
                >
                    <i class="fas fa-user fa-3x text-primary"></i>
                </a>
            </td>
            <td class="border-0 h-100 w-25 text-start">
                <a href="{{ path('re_app_document_list', {'id': beneficiary.id}) }}"
                   class="text-decoration-none text-primary d-block h-100"
                >
                    <span>{{ beneficiary.user.prenom|capitalize }} {{ beneficiary.user.nom|upper }}</span>
                    <br>
                    <span class="text-grey">{{ beneficiary.user.username }}</span>
                </a>
            </td>
            <td class="border-0 h-100 text-center d-none d-md-table-cell">
                {{ include('v2/professional/_personal_data_row.html.twig') }}
            </td>
            <td class="border-0 h-100 text-center" {{ stimulus_controller('dropdown-menu') }}>
                {{ include('v2/professional/_action_dropdown.html.twig', {
                    'removeFromRelayPath': path('re_membre_arreterSuiviBeneficiaire', {'id': beneficiary.id}),
                    'resetPasswordPath': path('private_reset_password', {'id': beneficiary.user.id}),
                }) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
<div class="d-flex justify-content-end mt-4">
    {{ knp_pagination_render(beneficiaries, 'v2/vault/components/_pagination.html.twig', {}, {
        'routeName': 'search_beneficiaries',
        'id': null
    }) }}
</div>
