{% extends 'v2/pro_standard_layout.html.twig' %}
{% block metaTitle %}{{ 'membre.beneficiaires.metaTitle'|trans }}{% endblock %}

{% block bodyColor %}'bg-white'{% endblock %}

{% block title %}
    <span>
        {{ 'pro_manage_user_title_part_1'|trans }}
    </span>
    <span class="text-blue">
        {{ 'beneficiaries'|trans }}
    </span>
{% endblock %}

{% block actionBar %}
    <div class="col-12 col-md-6 col-lg-7 ps-0 mb-2 mb-md-0">
        <a href="{{ path('affiliate_beneficiary_home') }}" class="btn {{ getUserButtonColor() }} py-1" type="button">
            <i class="fas fa-user-plus me-2"></i>
            {{ 'add_new_beneficiary'|trans }}
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
        {{ include('v2/professional/_filter_beneficiaries_form.html.twig', {form}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="max-width-lg px-3 m-auto">
        <div class="list-container">
            {{ include('v2/professional/_beneficiaries_list.html.twig', {beneficiaries}) }}
        </div>
    </div>
{% endblock %}
