{% extends 'v2/pro_standard_layout.html.twig' %}
{% block metaTitle %}{{ 'membre.beneficiaires.metaTitle'|trans }}{% endblock %}

{% block title %}
    <span>
        {{ 'pro_manage_user_title_part_1'|trans }}
    </span>
    <span class="text-blue">
        {{ 'beneficiaries'|trans }}
    </span>
{% endblock %}

{% block actionBar %}
    <div class="col-3" {{ stimulus_controller('ajax-search', {
        'url': path('search_beneficiaries')
    }) }}>
        {{ form_start(form) }}
        <div class="input-group rounded-pill border bg-white z-0">
            <i class="fa fa-search text-grey p-2 input-group-text bg-white rounded-pill border-0"></i>
            {{ form_widget(form.search) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block content %}
    <div class="max-width-lg px-3 m-auto">
        <div class="list-container">
            {{ include('v2/professional/beneficiary_list.html.twig', {beneficiaries}) }}
        </div>
    </div>
{% endblock %}
