{{ form_start(passwordForm, {'attr': {'class' : 'reForm'}}) }}
<div class="row text-primary font-size-1 pt-3">
    {% if askCurrentPassword %}
        <div class="col-sm-6 col-md-4 offset-md-0 col-lg-4 offset-lg-2 bold mt-2">
            {{ form_label(passwordForm.currentPassword, 'user.parametres.mdpActuel') }}
            {{ form_errors(passwordForm.currentPassword) }}
        </div>
        <div class="col-sm-5 col-lg-3 mt-2">
            {{ form_widget(passwordForm.currentPassword) }}
        </div>
    {%  endif %}
    <div class="col-sm-6 col-md-4 offset-md-0 col-lg-4 offset-lg-2 mt-2 bold">
        {{ form_label(passwordForm.plainPassword.first, 'user.parametres.nouveauMotDePasse') }}
        {{ form_errors(passwordForm.plainPassword.first) }}
    </div>
    <div class="col-sm-6 col-lg-3 mt-2">
        {{ include('v2/user/strong_password/_strong_password_row.html.twig', {'field': passwordForm.plainPassword.first, 'isBeneficiaire': app.user.isBeneficiaire, 'hideAndShow': false }) }}
    </div>
    <div class="col-sm-6 col-md-4 offset-md-0 col-lg-4 offset-lg-2 mt-2 bold">
        {{ form_label(passwordForm.plainPassword.second) }}
        {{ form_errors(passwordForm.plainPassword.second) }}
    </div>
    <div class="col-sm-5 col-lg-3 mt-2">
        {{ form_widget(passwordForm.plainPassword.second) }}
    </div>
    <div class="col-sm-3 offset-sm-6 mt-2">
        <button type="submit" class="btn {{ app.user.isBeneficiaire ? 'btn-green' : 'btn-blue' }} text-white">
            {{ 'confirm'|trans }}
        </button>
    </div>
</div>
{{ form_end(passwordForm) }}
