{{ form_start(passwordForm, {'attr': {'class' : 'reForm'}}) }}
<div class="row col-12 col-md-6 text-primary bold pt-3 mx-auto">
    {{ form_row(passwordForm.currentPassword) }}
    {{ form_label(passwordForm.plainPassword.first) }}
    {{ include('v2/user/strong_password/_strong_password_row.html.twig', {'field': passwordForm.plainPassword.first, 'isBeneficiaire': app.user.isBeneficiaire, 'hideAndShow': false }) }}
    {{ form_row(passwordForm.plainPassword.second) }}
    <div class="col-12 col-md-6 d-grid mt-3 mx-auto">
        {{ include('v2/common/_button_with_loader.html.twig', {text: 'submit'|trans, color: getUserThemeColor()}) }}
    </div>
</div>
{{ form_end(passwordForm) }}
