{% extends 'v2/user/settings.html.twig' %}

{% block metaTitle %}{{ 'user.parametres.metaTitle'|trans }}{% endblock metaTitle %}

{% block content %}
    <h3 class="text-primary text-center my-3">{{ 'beneficiary.delete.account'|trans }}</h3>
    {{ form_start(submitForm) }}
    <div class="my-3 text-center">
        <a class="btn btn-green text-white" href="{{ path('user_settings') }}">
            <i class="fas fa-times pr-1"></i>
            {{ 'no'|trans }}
        </a>
        <button type="submit" class="btn btn-red text-white">
            <i class="fas fa-check pr-1"></i>
            {{ 'yes'|trans }}
        </button>
    </div>
    {{ form_end(submitForm) }}
{% endblock %}
