{% extends 'v2/user/settings.html.twig' %}

{% block content %}
    <div class="text-center mt-3">
        <h2 class="font-size-1-3 text-primary mb-3">{{ 'beneficiary.delete.account'|trans }}</h2>
        {{ form_start(submitForm) }}
            <a class="btn btn-primary mr-1" href="{{ path('user_settings') }}">
                <i class="fas fa-times pr-1"></i>
                {{ 'no'|trans }}
            </a>
            <button type="submit" class="btn btn-green text-white">
                <i class="fas fa-check pr-1"></i>
                {{ 'yes'|trans }}
            </button>
        {{ form_end(submitForm) }}
    </div>
{% endblock %}
