{{ form_start(settingsForm, {'attr': {'class' : 'reForm'}}) }}
<div class="row text-primary font-size-1 pt-3">
    <div class="col-4 col-sm-3 col-lg-2 col-xl-2 offset-xl-3 pt-1 bold">
        {{ form_label(settingsForm.prenom) }}
    </div>
    <div class="col-8 col-sm-9 col-lg-5 offset-xl-2 col-xl-5">
        {{ form_errors(settingsForm.prenom) }}
        {{ form_widget(settingsForm.prenom) }}
    </div>
    <div class="col-4 col-sm-3 col-lg-2 col-xl-2 offset-xl-3 pt-1 mt-2 bold">
        {{ form_label(settingsForm.nom) }}
    </div>
    <div class="col-8 col-sm-9 col-lg-5 offset-xl-2 col-xl-5 mt-2">
        {{ form_errors(settingsForm.nom) }}
        {{ form_widget(settingsForm.nom) }}
    </div>
    <div class="col-4 col-sm-3 col-lg-2 col-xl-2 offset-xl-3 pt-1 mt-2 bold">
        {{ form_label(settingsForm.telephone) }}
    </div>
    <div class="col-8 col-sm-9 col-lg-5 offset-xl-2 col-xl-5 mt-2">
        {{ form_errors(settingsForm.telephone) }}
        {{ form_widget(settingsForm.telephone) }}
    </div>
    <div class="col-4 col-sm-3 col-lg-2 col-xl-2 offset-xl-3 pt-1 mt-2 bold">
        {{ form_label(settingsForm.email) }}
    </div>
    <div class="col-8 col-sm-9 col-lg-5 offset-xl-2 col-xl-5 mt-2">
        {{ form_errors(settingsForm.email) }}
        {{ form_widget(settingsForm.email) }}
    </div>
    <div class="col-xl-4 offset-xl-3 mt-4 bold">
        {{ form_label(settingsForm.adresse) }}
    </div>
    <div class="col-4 col-sm-3 col-lg-2 pt-1 mt-4 bold">
        {{ form_label(settingsForm.adresse.nom) }}
    </div>
    <div class="col-8 col-sm-9 col-lg-3 mt-4">
        {{ form_errors(settingsForm.adresse.nom) }}
        {{ form_widget(settingsForm.adresse.nom) }}
    </div>
    <div class="col-4 col-sm-3 col-lg-2 offset-xl-7 pt-1 mt-2 bold">
        {{ form_label(settingsForm.adresse.ville) }}
    </div>
    <div class="col-8 col-sm-9 col-lg-3 mt-2">
        {{ form_errors(settingsForm.adresse.ville) }}
        {{ form_widget(settingsForm.adresse.ville) }}
    </div>
    <div class="col-4 col-sm-3 col-lg-2 offset-xl-7 pt-1 mt-2 bold">
        {{ form_label(settingsForm.adresse.codePostal) }}
    </div>
    <div class="col-8 col-sm-9 col-lg-3 mt-2">
        {{ form_errors(settingsForm.adresse.codePostal) }}
        {{ form_widget(settingsForm.adresse.codePostal) }}
    </div>
    <div class="col-4 col-sm-3 col-lg-2 offset-xl-7 pt-1 mt-2 bold">
        {{ form_label(settingsForm.adresse.pays) }}
    </div>
    <div class="col-8 col-sm-9 col-lg-3 mt-2">
        {{ form_errors(settingsForm.adresse.pays) }}
        {{ form_widget(settingsForm.adresse.pays) }}
    </div>
    <div class="col-4 col-sm-3 col-lg-3 pt-1 mt-xl-2 mt-4 bold">
        {{ form_label(settingsForm.dateNaissance) }}
    </div>
    <div class="col-5 col-sm-9 col-lg-9 mt-xl-2 mt-4">
        {{ form_errors(settingsForm.dateNaissance) }}
        {{ form_widget(settingsForm.dateNaissance) }}
    </div>
    <div class="col-sm-3 col-lg-3 pt-1 mt-2 bold">
        {{ form_label(settingsForm.questionSecreteChoice) }}
    </div>
    <div class="col-sm-9 col-lg-9 mt-2">
        {{ form_errors(settingsForm.questionSecreteChoice) }}
        {{ form_widget(settingsForm.questionSecreteChoice) }}
    </div>
    <div class="col-sm-3 col-lg-3 pt-1 mt-2 bold">
        {{ form_label(settingsForm.autreQuestionSecrete) }}
    </div>
    <div class="col-sm-9 col-lg-9 mt-2">
        {{ form_errors(settingsForm.autreQuestionSecrete) }}
        {{ form_widget(settingsForm.autreQuestionSecrete) }}
    </div>
    <div class="col-sm-3 col-lg-3 pt-1 mt-2 bold">
        {{ form_label(settingsForm.reponseSecrete) }}
    </div>
    <div class="col-sm-9 col-lg-9 mt-2">
        {{ form_errors(settingsForm.reponseSecrete) }}
        {{ form_widget(settingsForm.reponseSecrete) }}
    </div>
    <div class="col-sm-5 offset-sm-3 mt-2">
        <button class="btn btn-green text-white">
            {{ 'user.parametres.enregister'|trans }}
        </button>
    </div>
</div>
{{ form_end(settingsForm) }}
