<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}{{ 'website_title'| trans }}{% endblock %}
    </title>
    <meta name="description" content="{{ 'home_meta_desc_v2'| trans }}"/>
    <meta property="og:title" content="{% block meta_title %}{% endblock %}"/>
    <meta property="og:image" content="https://www.reconnect.fr{{ asset('build/images/homeV2/meta_image.png') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    {% block javascripts %}
        {{ encore_entry_script_tags('homeV2') }}
    {% endblock %}
    {% block styles %}
        {{ encore_entry_link_tags('homeV2style') }}
    {% endblock %}

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    {% include 'favicons.html.twig' %}

    {% if appEnv == 'prod' %}
        <!-- Matomo -->
        <script type="text/javascript">
               var _paq = window._paq = window._paq || [];
               /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
               _paq.push(['trackPageView']);
               _paq.push(['enableLinkTracking']);
               (function () {
                      var u = "https://reconnect.matomo.cloud/";
                      _paq.push(['setTrackerUrl', u + 'matomo.php']);
                      _paq.push(['setSiteId', '1']);
                      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                      g.type = 'text/javascript';
                      g.async = true;
                      g.src = '//cdn.matomo.cloud/reconnect.matomo.cloud/matomo.js';
                      s.parentNode.insertBefore(g, s);
               })();
        </script>
        <!-- End Matomo Code -->
    {% endif %}
    {% block base_link %}
    {% endblock base_link %}
</head>

<body class="preload {% block bodyClass %}{% endblock bodyClass %}">

<main role="main" id="wrapper{% if app.user %}Connected{% endif %}">
    {% include('homeV2/header.html.twig') %}
    {% block body %}
        <div class="centeredContainer">
            {% include('ies_alert.html.twig') %}
            {% block bodyCentered %}
            {% endblock bodyCentered %}
        </div>
    {% endblock body %}
</main>

{% include('homeV2/footer.html.twig') %}
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
</script>
</body>

{% if appEnv == 'prod' %}
    <script type="text/javascript">window.$crisp = [];
        {% if app.user %}
           $crisp.push(["set", "user:email", "{{ app.user.email }}"]);
           $crisp.push(["set", "user:username", "{{ app.user.username }}"]);
           $crisp.push(["set", "user:avatar", "{{ app.user.avatar ? asset(app.user.avatar, null, true) : '' }}"]);
           $crisp.push(["set", "user:createdAt", "{{ app.user.createdAt|reDate("%Y-%m-%d %H:%M:%S") }}"]);
           $crisp.push(["set", "user:nom", "{{ app.user.nom }}"]);
           $crisp.push(["set", "user:prenom", "{{ app.user.prenom }}"]);
           $crisp.push(["set", "user:telephone", "{{ app.user.telephone }}"]);
        {% endif %}
           window.CRISP_WEBSITE_ID = "1987e7b5-a8f0-4d34-85c6-17c534e6a36e";
           (() => {
                  d = document;
                  s = d.createElement("script");
                  s.src = "https://client.crisp.chat/l.js";
                  s.async = 1;
                  d.getElementsByTagName("head")[0].appendChild(s);
           })();</script>
{% endif %}

</html>
