<section class="{{ direction == 'row' ? 'bg-blue-opacity-005' : '' }} py-2 py-md-5 px-4 px-md-0">
    <div class="container py-3">
        <div class="row text-primary flex-{{ direction }}">
            <div class="col-12 {{ direction == 'row-reverse' ? 'offset-md-2' : '' }} col-md-5 p-3 d-flex flex-column justify-content-center">
                <h2 class="h2 text-uppercase pb-2">{{ feature.title|trans }}</h2>
                <p class="pt-2">{{ feature.text|trans }}</p>
                {% if feature.gdpr_text is defined %}
                    <a class="lighter" href="{{ path('re_main_faq') }}">{{ feature.gdpr_text|trans }}</a>
                {% endif %}
            </div>
            <div class="col-12 {{ direction == 'row-reverse' ? '' : 'offset-md-2' }} {{ feature.is_img_border == true ? ' d-flex border border-primary border-2 rounded-3 p-2 h-25 align-self-center' : '' }} col-md-5 text-center">
                {% set img_path = 'build/images/home/'~ feature.img_fileName %}
                <img class="{{ feature.is_mobile ? 'feature-transmission-mockup' : '' }} {{ feature.is_img_border ? 'object-fit-contain w-25' : 'box-shadow-light-blue w-100' }} border-radius-20"
                     src="{{ asset(img_path) }}" alt="{{ feature.img_alt|trans }}">
                {% if feature.img_logo_text is defined and feature.img_logo_text is not empty %}
                    <p class="text-sm-start text-primary align-self-center fs-6 mx-2">{{ feature.img_logo_text}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
