<section class="mt-3 pt-3 pt-md-5 bg-eton-blue">
    <div class="container">
        <div class="row text-center pt-5">
            <div class="offset-1 offset-md-0 col-10 col-md-5 mt-md-5 ps-md-0">
                <img class="img-fluid mt-5 pt-5" src="{{ asset('build/images/home/logo_digital_cares.png') }}"
                     alt="{{ 'digital_cares_logo_alt' |trans }}">
            </div>
            <div class="col-12 offset-md-1 col-md-6 mb-3">
                <h3 class="text-primary position-relative top-30 mx-5">{{ 'professional_digital_training' |trans }}</h3>
                <img class="img-fluid w-50" src="{{ asset('build/images/home/watermark_pro_learning_white.png') }}"
                     alt="{{ 'professional_digital_training' |trans }}">
            </div>
            <div class="mb-4 pt-2">
                <a class="btn btn-primary text-decoration-none p-2 mx-1 w-50 rounded-pill font-size-1-1" target="_blank"
                   href="{{ path('re_admin_annexe', { url: 'catalogue formation pro'}) }}">{{ 'download_pro_training_catalogue'|trans }}
                </a>
            </div>
            <div class="pb-3">
                <p>{{ 'professional_digital_training_tagline'|trans }}</p>
            </div>
        </div>
    </div>
</section>
