{% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ form_row(form.nom) }}
    {{ form_row(form.date) }}
    {{ form_row(form.lieu) }}
    {{ form_row(form.commentaire) }}

    {# store the prototype on the data-prototype attribute #}
    {{ form_label(form.rappels) }}
<ul id="rappel-fields-list"
    data-prototype="{{ form_widget(form.rappels.vars.prototype)|e }}"
    data-widget-tags="{{ '<li></li>'|e }}"
    data-widget-counter="{{ form.rappels|length }}">
    {% for rappelField in form.rappels %}
        <li>
            {{ form_errors(rappelField) }}
            {{ form_widget(rappelField) }}
        </li>
    {% endfor %}
</ul>

<button type="button"
        class="add-another-collection-widget"
        data-list-selector="#rappel-fields-list">{{ 'add_sms_reminder'|trans }}
</button>
    {{ form_row(form.bPrive) }}
    {{ form_row(form.submit) }}
    {{ form_row(form._token) }}



{#{{ form_end(form, {'render_rest': false}) }}#}

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.add-another-collection-widget').click(function (e) {
            var list = jQuery(jQuery(this).attr('data-list-selector'));
            // Try to find the counter of the list or use the length of the list
            var counter = list.data('widget-counter') || list.children().length;

            // grab the prototype template
            var newWidget = list.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, counter);
            // Increase the counter
            counter++;
            // And store it, the length cannot be used if deleting widgets is allowed
            list.data('widget-counter', counter);

            // create a new list element and add it to the list
            var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
            newElem.appendTo(list);
        });
    });
</script>