{% extends 'v2/standard_layout.html.twig' %}

{% block metaTitle %}{{ 'add_si_siao_number'|trans }}{% endblock metaTitle %}

{% block delimiter %}{% endblock %}

{% block content %}
    <div class="container">
        <h4 class="pb-2 my-2 text-center">
            {{ 'username'|trans }} :
            <span class="transform-uppercase text-blue">{{ beneficiary.username }}</span>
        </h4>
        {{ form_start(form) }}
        <div class="row">
            <div class="d-flex align-items-center col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="flex-grow-1">
                    {{ form_widget(form.number) }}
                </div>
                <div class="text-end ms-2">
                    {{ include('v2/common/_button_with_loader.html.twig', {'text': 'add'|trans}) }}
                </div>

            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
