<div class="mb-4">
    {{ form_label(field) }}
</div>
<div class="input-group" {{ stimulus_controller('password-generator') }}>
    {{ form_widget(field, {'attr': {'data-password-generator-target': 'input'}}) }}
    <div class="input-group-append">
        <button class="input-group-text d-block btn btn-block bg-light-grey"
                {{ stimulus_action('password-generator', 'generate') }}
                title="{{ 'generate_password'|trans }}"
                type="button"
        >
            <i class="fa fa-magic text-primary"></i>
        </button>
    </div>
    {{ form_errors(field) }}
</div>
