{% set activeClasses = 'bg-primary text-white' %}
{% set inactiveClasses = 'text-primary' %}

<div class="d-flex flex-wrap justify-content-around"
        {{ stimulus_controller('custom-checkbox', {
            errorText: 'an_error_occurred'|trans,
            togglableClasses: inactiveClasses|split(' ')|merge(activeClasses|split(' '))
        }) }}
>
    {% for relay in app.user.validRelays %}
        <div class="relay-checkbox">
            <a
                    class="btn btn-light border-primary h-100 w-100 {{ user.isLinkedToRelay(relay) ? activeClasses : inactiveClasses }}"
                    {{ stimulus_action('custom-checkbox', 'click', null, {
                        path: path('toggle_user_invitation', {id: user.id, relay: relay.id})
                    }) }}
            >
                {% if user.hasValidLinkToRelay(relay) %}
                    <div class="text-end">
                        <span class="badge bg-success text-white">
                            <i class="fa fa-check-circle"></i>
                            {{ 'accepted'|trans }}
                        </span>
                    </div>
                {% endif %}
                <span>{{ relay.nameAndAddress }}</span>
                <br/>
                <i class="fa fa-hotel fa-4x mt-3"></i>
            </a>
        </div>
    {% endfor %}
</div>
