<tr class="text-primary text-center align-middle">
    <td class="bg-white borderless text-start p-0 w-100 me-auto">
        <a href="{{ path('event_detail', {'id': event.id}) }}" class="text-decoration-none d-block h-100 ps-3 py-2">
            <span class="bold text-primary">
                {% if 'now'|date('d/m/Y') == event.date|date('d/m/Y') %}
                    {{ 'today'|trans }} {{ event.date|date('H:i') }} :
                {% else %}
                    {{ event.date|format_datetime() }} :
                {% endif %}
                {{ event.nom }}
            </span>
            {% for reminder in event.rappels %}
                <br>
                <span class="text-light-grey">
                    {{ 'reminder'|trans }} : {{ reminder.date|format_datetime() }}
                </span>
            {% endfor %}
        </a>
    </td>
    {% if app.user.isBeneficiaire %}
        <td class="bg-white borderless pt-2 w-25">
            {{ include('v2/vault/components/_toggle_visibility_button.html.twig', {
                'url': path('event_toggle_visibility', {'id': event.id}),
                'private': event.bPrive,
            }) }}
        </td>
    {% endif %}
    <td class="bg-white borderless pt-2 w-25 pe-3" {{ stimulus_controller('dropdown-menu') }} data-turbo="false">
        {{ include('v2/vault/components/_action_dropdown.html.twig', {
            'editPath': path('event_edit', {'id': event.id}),
            'detailPath': path('event_detail', {'id': event.id}),
            'delete': {
                'path': path('event_delete', {'id': event.id}),
                'message': 'modal_message_event_deletev2'|trans({'%name%': event.nom}),
            },
            'switchPrivate': {
                'path': path('event_toggle_visibility', {'id': event.id}),
                'message': 'switch_content_private_confirm'|trans,
            },
        }) }}
    </td>
</tr>
