{% extends 'v2/email/templated_email_base.html.twig' %}

{% block content %}
    <h2 class="text-primary">{{ 'mail_reset_password_title'|trans({}, 'messages', userLang) }}</h2>
    <spacer size="20"></spacer>
    <p class="text-primary">{{ 'mail_reset_password_content_1'|trans({}, 'messages', userLang) }}</p>
    <spacer size="20"></spacer>
    <p class="text-primary">{{ 'mail_reset_password_content_2'|trans({}, 'messages', userLang) }}</p>
{% endblock %}

{% block link %}
    <button href="{{ url }}" class="green radius-15">{{ 'reset'|trans({}, 'messages', userLang) }}</button>
{% endblock %}
