{% apply inky_to_html|inline_css(source('@appV2styles/foundation-email.css'), source('@appV2styles/email.css')) %}
    <container>
        {{ include('v2/email/_header.html.twig')|inky_to_html }}
        <spacer size="50"></spacer>
        <row>
            <columns>
                <h2 class="text-primary">{{ 'mail_reset_password_title'|trans }}</h2>
                <spacer size="20"></spacer>
                <p class="text-primary">{{ 'mail_reset_password_content_1'|trans }}</p>
                <spacer size="20"></spacer>
                <p class="text-primary">{{ 'mail_reset_password_content_2'|trans }}</p>
            </columns>
        </row>
        <spacer size="50"></spacer>
        <row>
            <columns>
                <center>
                    <button href="#" class="green radius-15">{{ 'reset'|trans }}</button>
                </center>
            </columns>
        </row>
        <spacer size="30"></spacer>
        {{ include('v2/email/_translation_links.html.twig', {currentLocale})|inky_to_html }}
        <spacer size="30"></spacer>
        {{ include('v2/email/_footer.html.twig', {year})|inky_to_html }}
    </container>
{% endapply %}
