<turbo-frame id="update-pro-permission-button">
    {% set currentUserRelay = user.userRelay(relay) %}

    {% set permissions = [
        {
            icon: 'user',
            value: constant('App\\Entity\\Attributes\\MembreCentre::MANAGE_BENEFICIARIES_PERMISSION'),
            tooltip: 'beneficiaries_management'|trans,
            isShown: not currentUserRelay or is_granted('MANAGE_BENEFICIARIES', relay),
            isOwned: currentUserRelay and currentUserRelay.canManageBeneficiaries,
        },
        {
            icon: 'user-cog',
            value: constant('App\\Entity\\Attributes\\MembreCentre::MANAGE_PROS_PERMISSION'),
            tooltip: 'team_management'|trans,
            isShown: not currentUserRelay or is_granted('MANAGE_PRO', relay),
            isOwned: currentUserRelay and currentUserRelay.canManageProfessionals,
        },
    ] %}

    <div class="d-flex justify-content-center">
        <div class="border-0 px-1" style="padding-top: 0.375rem;">
            <i class="fas fa-user-plus fa-2x text-primary blue-tooltip"
               {{ stimulus_controller('tooltip', {title: 'beneficiaries_creation'|trans}) }}
            >
            </i>
        </div>
        {% for permission in permissions|filter(p => p.isShown) %}
            {% if currentUserRelay %}
                <form action="{{ path('toggle_pro_permission', {id: user.subjectMembre.id, relay: relay.id, permission: permission.value}) }}"
                      method="post"
                >
            {% endif %}
                <button class="btn border-0"
                        type="{{ currentUserRelay ? 'submit' : 'button' }}"
                        id="{{ permission.value }}"
                >
                    <i class="fas fa-{{ permission.icon }} fa-2x text-{{ permission.isOwned ? 'primary' : 'grey ' }} blue-tooltip"
                        {{ stimulus_controller('tooltip', {title: currentUserRelay ? permission.tooltip : 'you_must_select_center_for_right_update'|trans}) }}
                    >
                    </i>
                </button>
            {% if currentUserRelay %}
                </form>
            {% endif %}
        {% endfor %}
    </div>
</turbo-frame>
