<header class="position-fixed z-1 bg-white">
    <div class="container-fluid max-width-lg mx-auto">
        <div class="row">
            <div class="col-1 col-lg-6 text-left px-2">
                <a href="{{ path('re_user_redirectUser') }}">
                    <img src="{{ asset('build/images/vault-logo-small.png') }}" alt="logo reconnect" class="img-logo">
                </a>
            </div>
            <div class="col-11 col-lg-6 d-flex align-items-center justify-content-end pb-1 position-relative">
                <div {{ stimulus_controller('dropdown-menu', {toggleClasses: ['fa-chevron-up', 'fa-chevron-down']}) }}
                        {{ stimulus_action('dropdown-menu', 'toggle', 'click') }}
                >
                    <button class="btn border-0 text-primary">
                        <i class="far fa-user fa-lg font-size-1-3 align-baseline me-2"></i>
                        <span class="font-size-1-3 bold">{{ app.user.prenom|upper }} {{ app.user.nom|upper }}</span>
                        <i class="fas fa-chevron-down align-baseline font-size-1-3 text-primary ms-2"
                                {{ stimulus_target('dropdown-menu', 'button') }}
                        >
                        </i>
                    </button>
                    <div class="user-menu position-absolute rounded shadow bg-primary text-white text-left d-none p-2"
                            {{ stimulus_target('dropdown-menu', 'menu') }}
                    >
                        {% if app.user.isBeneficiaire %}
                            {{ include('v2/header/available_capacity_progress_bar.html.twig') }}
                        {% else %}
                            <div class="col-12">
                                <a href="{{ path('my_relays') }}"
                                   class="text-white text-decoration-none"><i
                                            class="fas fa-hotel me-1"></i>{{ 'header.menu.relaisReconnect'|trans|upper }}
                                </a>
                            </div>
                        {% endif %}
                        <div class="col-12 mt-2">
                            <a href="{{ path('user_settings') }}"
                               class="text-white text-decoration-none"
                               data-turbo="false"
                            >
                                <i class="fas fa-cog me-1"></i>{{ 'header.menu.parametres'|trans|upper }}
                            </a>
                        </div>
                        <div class="col-12 text-end">
                            <a href="{{ path('app_logout') }}"
                               class="btn {{ getUserButtonColor() }} text-white bold">{{ 'header.menu.deconnection'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
