<div class="btnPickREImage2" data-width="{{ width }}" data-height="{{ height }}" style="max-width: 100%; width: {{ width }}px; height: {{ height }}px">
    <span>{{ 'choose_picture'|trans }}</span>
</div>