<div {{ stimulus_controller('alert', {
    'confirmButtonText': 'main.accepter'|trans,
    'cancelButtonText': 'main.annuler'|trans,
}) }}>
    <a href="{{ path('create_beneficiary_abort', {'id': beneficiaryCreationProcess.id}) }}"
       class="btn {{ getUserButtonColor() }} text-white"
       data-action="{{ beneficiary is defined ? 'click->alert#confirm' : '' }}"
       data-message="{{ 'confirm_beneficiary_creation_cancellation'|trans }}"
    >
        {{ 'back_home'|trans }}
    </a>
</div>
