{% set breadCrumbStepNames = beneficiaryCreationProcess.breadCrumbStepNames %}

<div class="mt-3 ps-0 border-start border-primary border-2 breadcrumb-step">
    {% for step in 1..breadCrumbStepNames|length %}
        {% set color = beneficiaryCreationProcess.getStepColor(step) %}
        {% set isReached = beneficiaryCreationProcess.isStepReached(step) %}
        {% set isCurrentStep = beneficiaryCreationProcess.isCurrentStep(step) %}
        {% set isDone = beneficiaryCreationProcess.isStepDone(step) %}
        <a href="{{ path('create_beneficiary', {'id': beneficiaryCreationProcess.id, 'step': step}) }}"
           class="btn ps-0 py-0 my-4
           text-{{ color }}
           {{ isReached ? '' : 'pe-none' }}"
           data-turbo="false">
            <i class="fa fa-lg breadcrumb-icon position-relative rounded-circle text-{{ color }}
                {% if isCurrentStep %}
                    fa-circle bg-white
                {% elseif isDone  %}
                    fa-check-circle bg-white
                {% else %}
                    fa-circle fa-regular
                {% endif %}
            "></i>
            {{ breadCrumbStepNames[step]|trans }}
        </a>
        <br>
    {% endfor %}
</div>
