{% form_theme form 'v2/user_creation/form_theme/create_user_form_theme.html.twig' %}

{% if step == 1 %}
    {% set backButtonPath = beneficiary.id
        ? path('create_beneficiary_abort', {'id': beneficiaryCreationProcess.id})
        : path('create_beneficiary_home') %}
{% else %}
    {% set backButtonPath = path('create_beneficiary', {'id': beneficiaryCreationProcess.id, 'step': step - 1}) %}
{% endif %}

{% block content %}
    <div class="col-3 d-none d-md-block">
        {{ include('v2/user_creation/beneficiary/_breadcrumb.html.twig', {step}) }}
    </div>
    <div class="col-md-4 offset-md-1 bold my-auto">
        {{ form_start(form, {'attr': {'data-controller': 'conditional-field'}}) }}
        {{ form_widget(form) }}
        <div class="text-center mt-4 mb-2 row">
            <div class="col-6 d-grid gap-2">
                <a href="{{ backButtonPath }}" class="btn btn-primary text-white" data-turbo="false">
                    {{ 'back'|trans }}
                </a>
            </div>
            <div class="col-6 d-grid gap-2">
                <button type="submit" class="btn btn-blue text-white" data-turbo="false">
                    {{ 'confirm'|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
