{% extends 'v2/pro_management_layout.html.twig' %}

{% block title %}
    {{ include('v2/user_creation/beneficiary/_create_beneficiary_title_default.html.twig') }}
{% endblock %}

{% block subTitle %}
    <span class="transform-uppercase">
        {{ 'steps_count'|trans({'%step%': beneficiaryCreationProcess.currentStep, '%totalSteps%': beneficiaryCreationProcess.totalSteps}) }} :
        {{ beneficiaryCreationProcess.stepTitle|trans }}
    </span>
{% endblock %}

{% block homeButton %}
    {% if beneficiaryCreationProcess.id %}
        {{ include('v2/user_creation/beneficiary/_abort_button.html.twig', {beneficiaryCreationProcess}) }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if beneficiary.username %}
        <div class="row">
            <h5 class="my-3">
                {{ 'username'|trans }} :
                <span class="transform-uppercase text-blue">{{ beneficiary.username }}</span>
            </h5>
        </div>
    {% endif %}

    <div class="row">
        {{ beneficiaryCreationProcess.isStepWithForm
        ? include('v2/user_creation/beneficiary/_step_form.html.twig', {beneficiary, beneficiaryCreationProcess, form})
        : include('v2/user_creation/beneficiary/_step_5.html.twig', {beneficiary, beneficiaryCreationProcess}) }}
    </div>

    {% if beneficiaryCreationProcess.isLastRemotelyStep %}
        <div class="mt-5 row">
            <div class="col-sm-1 offset-sm-3 my-auto text-center">
                <i class="fas fa-4x fa-mobile-alt text-primary"></i>
            </div>
            <div class="col-sm-5">
                <span>{{ 'confirm_beneficiary_creation_remotely'|trans|nl2br }}</span>
            </div>
        </div>
    {% endif %}

    {% if beneficiary.id and beneficiary.user.hasSuffixedUsername and beneficiaryCreationProcess.isPasswordStep %}
        {{ include('v2/notifications/notification_modal.twig', {
            'title': 'duplicated_username'|trans,
            'content': 'duplicated_username_alert'|trans,
            'cancelPath': path('create_beneficiary_abort', {'id': beneficiaryCreationProcess.id}),
        }) }}
    {% endif %}
{% endblock %}
