{% extends 'v2/management_layout.html.twig' %}

{% set lastStep = beneficiaryCreationProcess.totalSteps %}
{% block subTitle %}
    {{ 'steps_count'|trans({'%step%': lastStep, '%totalSteps%': lastStep})|upper }}
    {{ (beneficiaryCreationProcess.isRemotely ? 'sending_sms_account_activation' : 'terms_of_use')|trans|upper }}
{% endblock %}
{% block subTitleIconName %}user-plus{% endblock %}

{% block backButton %}
{% endblock %}

{% block content %}
    <div class="mt-4">
        {% if beneficiaryCreationProcess and beneficiaryCreationProcess.isRemotely %}
            {{ 'beneficiary_created_successfully_wait_activation'|trans }}
        {% else %}
            <div class="d-flex justify-content-between">
                <span>
                    {{ 'print_account_creation_act'|trans }}
                </span>
                <a href="https://www.reconnect.fr/annexe/bienvenue-compte-reconnect"
                   target="_blank"
                   class="btn btn-warning text-white ms-auto">
                    <i class="fa fa-download"></i>
                    {{ 'download'|trans }}
                </a>
            </div>
        {% endif %}
    </div>
    <div class="text-center mt-5">
        <a href="{{ path('list_beneficiaries') }}" class="btn btn-blue text-white">
            {{ 'confirm'|trans }}
        </a>
    </div>
{% endblock %}
